# Predicting Units Sold by Store and Product

## Business Understanding

## Data Exploration

I recieved my data from the M5 Forecasting - Accuracy competition on [Kaggle](https://www.kaggle.com/competitions/m5-forecasting-accuracy/data). It contains a 5 files: calendar.csv, sales_train_validation.csv, sample_submission.csv, sell_prices.csv, and sales_train_evaluation.csv. The calendar.csv file contains the date for every day, as well as the weekday, month, and Wal-Mart week. It also includes information of the days holiday status, and the days when snap is available. The sales_train_validation.csv contains information on the amount of units sold every day for 3019 different products across 10 different Wal-Mart stores in three different states. The sales_train_evaluation data contains the same information as the validation data, along with the correct values for the 28 day forecast. The sample_submission.csv contains an example csv for the format needed to submit the 28 day forecasts. The sell_prices.csv contains the prices at which the items were sold for every Wal-Mart week.

In [1]:
# imports for notebook
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from lightgbm import LGBMRegressor
from xgboost import XGBRegressor

In [2]:
# read in the dates and their recorded unique characteristics
dates = pd.read_csv('C:/Users/TWood/Downloads/m5-forecasting-accuracy/calendar.csv', parse_dates=[0])

In [ ]:
# take a look at the dates df
dates

In [3]:
# most days have no event, replace NaN with "None"
dates.replace(np.NaN, 'None', inplace=True)

In [ ]:
len(dates['event_name_1'].unique())

In [ ]:
event_dict = dict(zip(dates['event_name_1'].unique(), range(0,31)))

In [4]:
dates.drop(columns=['weekday', 'year', 'wm_yr_wk', 'event_type_1', 'event_type_2', 'snap_TX', 'snap_WI'], inplace=True)

In [5]:
# read in the training data
val = pd.read_csv('C:/Users/TWood/Downloads/m5-forecasting-accuracy/sales_train_validation.csv')

In [ ]:
val

In [6]:
CA1_F1 = val[(val['store_id'] == 'CA_1')&(val['dept_id'] == 'FOODS_1')]

In [7]:
CA1_F1.drop(columns=['item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'], inplace=True)

C:\Users\TWood\anaconda3\envs\learn-env\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [8]:
items = CA1_F1['id'].unique()

In [9]:
CA1_F1_ts = CA1_F1.melt(id_vars=['id'], var_name='d', value_name='sales')

In [10]:
CA1_F1_ts = CA1_F1_ts.merge(dates, how='inner', on='d')

In [11]:
CA1_F1_ts['lag_1'] = CA1_F1_ts['sales'].shift(periods=216*1)

In [12]:
CA1_F1_ts['lag_2'] = CA1_F1_ts['sales'].shift(periods=216*2)

In [13]:
CA1_F1_ts['lag_3'] = CA1_F1_ts['sales'].shift(periods=216*3)

In [14]:
CA1_F1_ts['lag_4'] = CA1_F1_ts['sales'].shift(periods=216*4)

In [15]:
CA1_F1_ts['lag_5'] = CA1_F1_ts['sales'].shift(periods=216*5)

In [16]:
CA1_F1_ts['lag_6'] = CA1_F1_ts['sales'].shift(periods=216*6)

In [17]:
CA1_F1_ts['lag_7'] = CA1_F1_ts['sales'].shift(periods=216*7)

In [18]:
CA1_F1_ts['lag_14'] = CA1_F1_ts['sales'].shift(periods=216*14)

In [19]:
CA1_F1_ts['lag_21'] = CA1_F1_ts['sales'].shift(periods=216*21)

In [20]:
CA1_F1_ts['lag_28'] = CA1_F1_ts['sales'].shift(periods=216*28)

In [21]:
CA1_F1_ts.set_index('date', inplace=True)

In [49]:
items[0]

'FOODS_1_001_CA_1_validation'

In [22]:
for col in ['event_name_1', 'event_name_2']:
    label = LabelEncoder().fit(CA1_F1_ts[col])
    CA1_F1_ts[col] = label.transform(CA1_F1_ts[col])

In [60]:
CA1_F1_ts

,id,d,sales,wday,month,event_name_1,event_name_2,snap_CA,lag_1,lag_2,lag_3,lag_4,lag_5,lag_6,lag_7,lag_14,lag_21,lag_28
date,,,,,,,,,,,,,,,,,,
2011-01-29,FOODS_1_001_CA_1_validation,d_1,3,1,1,19,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-29,FOODS_1_002_CA_1_validation,d_1,0,1,1,19,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-29,FOODS_1_003_CA_1_validation,d_1,0,1,1,19,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-29,FOODS_1_004_CA_1_validation,d_1,0,1,1,19,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-29,FOODS_1_005_CA_1_validation,d_1,3,1,1,19,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-04-24,FOODS_1_215_CA_1_validation,d_1913,0,2,4,19,3,0,0.0,0.0,0.0,0.0,4.0,6.0,2.0,0.0,4.0,0.0
2016-04-24,FOODS_1_216_CA_1_validation,d_1913,1,2,4,19,3,0,3.0,1.0,1.0,3.0,0.0,0.0,2.0,0.0,0.0,0.0
2016-04-24,FOODS_1_217_CA_1_validation,d_1913,3,2,4,19,3,0,4.0,1.0,2.0,0.0,2.0,3.0,3.0,5.0,4.0,2.0
2016-04-24,FOODS_1_218_CA_1_validation,d_1913,6,2,4,19,3,0,8.0,9.0,2.0,4.0,5.0,9.0,10.0,13.0,11.0,9.0
2016-04-24,FOODS_1_219_CA_1_validation,d_1913,1,2,4,19,3,0,2.0,4.0,1.0,0.0,1.0,6.0,6.0,6.0,5.0,3.0

In [28]:
preds = []
trues = []
for item in items:
    ts = CA1_F1_ts[CA1_F1_ts['id'] == item].drop(columns=['d', 'id'])
    train = ts['2014-03-28':'2016-03-28']
    test = ts['2016-03-28':]
    X_train = train.drop('sales', axis=1)
    X_test = test.drop('sales', axis=1)
    y_train = train['sales']
    y_test = test['sales']
    lgbm = LGBMRegressor().fit(X_train, y_train)
    forecast = []
    for X in X_test.index:
        pred = lgbm.predict(X_test[[X]])
        forecast.append(pred)
        X_test[X]['sales'] = pred
    preds.append(forecast)
    trues.append(y_test)

DatetimeIndex(['2016-03-28', '2016-03-29', '2016-03-30', '2016-03-31',
               '2016-04-01', '2016-04-02', '2016-04-03', '2016-04-04',
               '2016-04-05', '2016-04-06', '2016-04-07', '2016-04-08',
               '2016-04-09', '2016-04-10', '2016-04-11', '2016-04-12',
               '2016-04-13', '2016-04-14', '2016-04-15', '2016-04-16',
               '2016-04-17', '2016-04-18', '2016-04-19', '2016-04-20',
               '2016-04-21', '2016-04-22', '2016-04-23', '2016-04-24'],
              dtype='datetime64[ns]', name='date', freq=None)

ValueError: Expected 2D array, got scalar array instead:
array=wday.
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [67]:
preds

[array([ 1.00415634,  0.36938658,  0.18359893,  1.82603926,  0.92233571,
         1.18994156,  0.58138525,  1.00061306, -0.03432485,  0.39363485,
         0.58870642,  0.46138554,  1.15491264,  1.00418386,  0.08148938,
         0.36083233,  1.16409658,  1.21367663, -0.08313242,  1.57946718,
         1.36395335, -0.03010396,  1.80428693,  0.23024728,  0.64792587,
        -0.0587915 ,  0.77697793,  0.73500074]),
 array([ 0.17471345,  0.57953627,  0.61683382,  0.62935702, -0.25091502,
         1.13729578,  0.70864557,  0.67411906,  0.2586207 ,  0.09640887,
         0.25854004,  0.0333561 ,  1.0912429 ,  0.93229044,  0.34669764,
         0.17073497,  0.58404143,  0.27477292, -0.04704554,  0.8578524 ,
         0.7238624 ,  0.06767575,  0.17918604, -0.08508529,  0.09632065,
         0.36846176,  0.21175911,  0.66937566]),
 array([ 2.68356576,  0.52372729, -0.14735986,  0.7765607 ,  0.67632774,
         1.17753789,  1.88924428,  2.19625143, -0.09045782,  0.4676692 ,
         1.47875791,  0.79944226,  1.22711568,  1.5541174 ,  1.25780953,
        -0.0633908 ,  0.26790266,  0.54419103,  0.08983558,  0.27922577,
         0.39818188,  1.25946618,  0.24453466,  1.02628388,  1.22620261,
         0.51121618,  1.58054719,  0.48947078]),
 array([-0.59834473, -0.45970096,  1.41876054,  0.31698105,  0.53647656,
         0.69330608,  0.69853386,  0.17592961,  0.72572448,  2.27503542,
         0.66205893,  0.53647656,  0.69330608,  0.69853386,  0.22683362,
         0.82092027,  2.8712104 ,  1.25823391,  1.13265153,  0.74421009,
         0.74943788,  0.22683362,  0.82092027,  2.8712104 ,  1.25823391,
         1.13265153,  0.74421009,  0.74943788]),
 array([ 0.9290771 ,  1.80812957,  1.54514614,  0.40073472,  1.24278804,
         1.84971042, -0.05522693,  0.70232395,  1.06848749,  0.87331149,
         0.66144699,  1.45064957,  0.22385747,  0.38038941,  0.537517  ,
         0.3781563 ,  1.37141254,  0.07238297,  1.62480787,  2.1362315 ,
         1.58932602,  0.54182334,  1.18000253,  1.05981579,  0.18316917,
         1.61354124,  3.3055036 ,  2.11596198]),
 array([1.64347475, 0.3285419 , 1.51092403, 1.87174644, 1.81081415,
        4.81888579, 1.93124751, 1.95802748, 1.73758722, 2.02293763,
        2.84280439, 2.22192847, 2.01503765, 2.0856372 , 2.30527924,
        0.68309136, 0.77748645, 1.4922164 , 2.31452541, 1.37521904,
        1.35343544, 1.58431894, 1.69352327, 1.77227253, 1.43736078,
        3.4430942 , 2.04176486, 1.7103242 ]),
 array([0.51464043, 0.61796827, 0.77038779, 0.25811685, 0.3357571 ,
        0.55863317, 1.16933557, 0.67762981, 0.72638153, 0.64903547,
        0.31295825, 0.69606026, 0.07663835, 0.31814605, 0.21418818,
        0.15888006, 0.145145  , 1.31160337, 0.01715744, 0.37027729,
        0.37339608, 0.31548999, 0.71444803, 0.64908487, 0.0066539 ,
        1.19618234, 0.60029868, 0.23205051]),
 array([-0.00745429,  0.01245435,  0.03500014,  0.02945316, -0.003811  ,
        -0.03574618,  0.00092003,  0.00087569,  0.01294453,  0.00274461,
        -0.00975885, -0.003811  , -0.03574618,  0.00092003, -0.05451764,
        -0.01463866,  0.01534404,  0.00334291,  0.03922521, -0.008701  ,
         0.04399316, -0.05451764, -0.01463866,  0.01534404,  0.00334291,
         0.03922521, -0.008701  ,  0.04399316]),
 array([ 0.29286593, -0.13266735,  0.20303792,  0.85960111, -0.19953581,
         0.48061077, -0.10797165,  0.61904768,  0.19848228,  0.33944347,
        -0.13181007,  0.04882832,  0.18063622, -0.16784803,  0.30513774,
         0.17212192,  0.29569913,  0.22994021, -0.13532614,  0.40096529,
         0.12888625,  0.23788597,  0.03224755,  0.08830528,  0.22994021,
        -0.13532614,  0.40096529,  0.05611569]),
 array([0.64407871, 0.45984248, 0.49744357, 1.2165112 , 1.60779332,
        2.14393619, 1.11770912, 0.16571914, 0.26162366, 0.54198237,
        0.91098701, 1.57364951, 3.24231607, 1.11856419, 0.87529388,
        2.8442834 , 1.20335394, 1.1549087 , 2.07480984, 0.29771018,
        1.54118707, 1.35757232, 0.8373356 , 0.3463894 , 1.19642   ,
        1.72480151, 2.02578014, 1.03588009]),
 array([5.32580617, 4.34288563, 2.3481262 , 4.93129842, 1.5713058 ,
        3.13039613, 3.42459889, 4.30512442, 3.10481333, 2.63433752,
        2.12687394, 2.94066635, 4.86280691, 3.62339046, 1.58295743,
        4.85354716, 2.29834785, 2.05266403, 3.36837994, 4.49797825,
        3.6911504 , 2.20381923, 3.4246019 , 3.18900955, 1.91263151,
        2.35013899, 3.26566203, 4.40964346]),
 array([1.47749678, 1.70878412, 3.39617747, 1.99258249, 1.79931049,
        1.89936974, 0.94703772, 1.41208617, 1.20917437, 1.55347717,
        0.64316515, 2.66626181, 2.75641701, 1.43364603, 1.13517324,
        1.10916483, 1.8907348 , 2.42292555, 3.06431232, 1.09478607,
        2.52563987, 1.2126293 , 0.39930044, 2.42139812, 3.04416835,
        1.52667534, 1.34149404, 0.53057462]),
 array([2.36452916, 1.80355058, 1.8451138 , 1.19605541, 2.42667076,
        1.02096394, 1.24629108, 1.75999784, 1.03585216, 0.1545881 ,
        2.01303776, 0.78620305, 0.8423826 , 1.42142595, 1.48430284,
        1.28840776, 0.75500176, 1.60872579, 2.86289196, 2.12665082,
        2.25760214, 1.28799847, 1.23424683, 1.19059121, 1.49490631,
        1.23616445, 0.90210978, 1.40488415]),
 array([ 0.00706695,  0.44687522,  1.62762035,  0.96292759,  0.92949341,
         0.76772024,  1.00662517,  1.37783117,  0.78629317,  0.89699212,
         1.27419274,  0.50077409,  1.29469333,  0.42705024,  0.21164189,
         0.85954218,  1.49330489,  1.79982765,  1.65469105,  1.45540156,
         0.20489832, -0.22601227,  0.4784519 ,  1.29115072,  1.0250996 ,
         0.97021641,  1.25614257,  1.57844494]),
 array([ 0.30537322,  0.23006417, -0.0428272 , -0.31764355,  0.45060819,
         1.3159628 ,  1.52345691,  1.09867447,  1.45312525,  0.3661111 ,
         0.26073404,  0.59382279,  1.54460299,  1.37335494,  0.99786384,
         0.81870333,  0.60638925,  0.40301754,  0.73610629,  1.32628305,
         1.12979925,  0.99786384,  0.81870333,  0.60638925,  0.40301754,
         0.614949  ,  1.09872189,  1.77215126]),
 array([ 1.01468858, -0.0669354 ,  0.14335977,  0.83457115,  0.81562888,
         1.26726005,  0.86185197,  2.07229668,  0.62748855, -0.08268225,
         0.49530252,  0.37744294,  1.99451248,  0.98163581,  0.99939937,
         1.04315066,  0.39152705,  0.70565346,  0.93315363,  0.42116524,
         2.52854683,  0.16422725,  0.9368731 ,  0.21853507,  0.60211273,
         1.49008784,  1.49813085,  1.43780542]),
 array([ 7.21087107,  7.62074174,  9.56842186,  8.33364255, 15.51757812,
        10.77180522, 14.54899711,  9.09170082,  5.76376204,  6.60809958,
         9.9186789 , 13.62496828, 10.46141716, 16.42587827,  5.61100731,
         5.96052759,  7.04002796,  3.89756016, 14.53835716, 16.98287548,
         9.9653362 ,  7.87289704,  7.37825314,  9.65425862,  7.72196338,
         9.10782558, 16.95800923, 15.85533656]),
 array([ 6.81662408,  2.8045143 ,  4.3923396 ,  3.44737393, 11.71360309,
        11.50957225,  7.43680546,  8.21953627,  8.26222027,  3.72975565,
         3.77186369, 10.24052823, 11.94968121, 10.34270835,  7.39674866,
         7.51458874,  3.30261379,  4.44363062,  3.39696595, 11.56638683,
         9.48681701,  2.84924001,  5.42467171,  4.86176035,  6.96101545,
         4.89900091, 10.43674717,  7.66328101]),
 array([0.48492022, 0.67122167, 0.84224829, 1.51375873, 0.9788347 ,
        1.6144662 , 1.64237858, 1.37238731, 1.75437013, 1.19172686,
        0.82278178, 1.6304729 , 0.75370306, 1.69501455, 1.84781405,
        1.29857859, 1.63366693, 1.21017257, 2.27615294, 0.76916877,
        0.52502489, 1.23307505, 0.31429253, 1.48582927, 0.99856914,
        0.81221682, 1.2232941 , 0.41771334]),
 array([ 1.06161366,  0.61522097, -0.96730834,  1.78573565,  1.93510559,
         2.75738712,  1.14313134,  4.7241494 ,  9.39717069,  3.31015742,
         1.20546536,  3.09648173,  1.74451772,  2.6164939 ,  5.0549833 ,
         4.13776601,  2.96129072,  3.55296232,  0.57360324,  4.2708919 ,
         5.02389143,  1.85213721,  2.44554705,  1.87635209,  0.5081018 ,
         3.88423273,  3.9446733 ,  5.74682033]),
 array([ 0.11626262,  0.07031988,  0.29868737,  0.43691686,  0.16414998,
         0.01596404,  0.00943048,  0.00884152, -0.02941847,  0.10680046,
         0.09408148,  0.16414998, -0.07143715,  0.18145311,  0.13066133,
         0.09659659,  0.36051593,  0.29146233, -0.01385861, -0.0699717 ,
         0.17138803,  0.13066133,  0.09659659,  0.36051593,  0.29146233,
         0.18052901, -0.02060002,  0.11411328]),
 array([ 2.63492778e+00,  2.22503963e+00,  2.14662283e+00,  1.29172225e+00,
        -2.98271763e-02,  1.33744026e+00,  7.63138189e-01,  4.67728528e-02,
         4.55797404e-01, -3.61284951e-02,  2.38764073e-01, -1.89916799e-01,
         1.05802540e-01,  2.90758505e-01,  4.16653191e-01,  4.32256907e-01,
        -3.57981592e-02, -1.65855550e-01, -1.00431386e-03, -2.46866584e-02,
        -7.17922574e-01, -5.97384631e-01, -2.17705204e-02, -3.57981592e-02,
         2.39716593e-01, -1.00431386e-03,  3.70883374e+00,  1.69284289e+00]),
 array([0.8686045 , 0.9179982 , 1.0809122 , 0.64862408, 0.28680067,
        0.41500925, 0.77508229, 0.70090761, 0.12589438, 0.10258302,
        0.42325724, 1.06583753, 0.38013644, 0.78417668, 0.25898701,
        0.13809164, 0.48040879, 0.85550986, 0.78564281, 0.16447106,
        0.20176551, 0.24621575, 0.13809164, 0.27556583, 0.66336397,
        0.90410659, 0.13312529, 1.03442191]),
 array([ 0.38950238,  0.37688919,  0.10198911,  0.34431102,  0.02671639,
        -0.03066178,  1.49303388,  0.12534263,  0.32473528,  0.13866805,
         0.39386411,  0.3541959 , -0.1600329 ,  0.91963546,  0.76863649,
         0.46818167,  0.45608166,  0.65419626,  0.6919836 , -0.05353194,
         1.16422266,  1.16713472,  0.5599994 ,  0.98243113,  0.7441894 ,
         0.08177082,  0.79544859,  0.95812914]),
 array([ 0.00499802,  0.10606429, -0.02479366,  0.02454611,  0.10782919,
        -0.00725478, -0.07351569, -0.11135088, -0.12456635,  0.00794221,
         0.05792173,  0.10782919, -0.00725478, -0.07351569,  0.77244264,
         0.39521401,  1.12270827,  0.51559084,  0.50467277,  0.45732489,
         1.06324658,  0.40618435,  1.27927955,  0.53984559,  1.25177391,
         0.98108156,  0.62770526,  0.36922026]),
 array([0.11255619, 1.3606154 , 0.74275702, 1.0118904 , 1.98587407,
        3.27627442, 3.02540415, 1.32405429, 2.75817426, 0.63883908,
        2.33657191, 2.94291036, 3.95465763, 6.03199755, 2.93757981,
        1.94167092, 0.44394519, 1.31929308, 2.41356676, 4.550229  ,
        3.46698311, 0.42035487, 1.69447251, 0.70186417, 2.46313869,
        4.36796154, 2.88350819, 2.9023981 ]),
 array([ 0.04936909,  0.04084631, -0.05267744, -0.0405992 ,  0.03529462,
        -0.0438388 , -0.03543291,  0.12994874, -0.00731457, -0.05731823,
        -0.00675667,  0.03529462, -0.0438388 , -0.03543291,  0.22144158,
         0.14797228, -0.01601812, -0.01459227,  0.02638926,  1.6339683 ,
         2.22312234,  2.36726005,  2.01590877,  1.01035223,  1.12983332,
         2.59788412,  2.40823566,  0.93472381]),
 array([ 0.09233538,  0.83067579,  0.54987031,  0.49253075, -0.06171563,
         0.06076259,  0.47437788,  0.57870609,  0.3664097 , -0.0993753 ,
         0.59510044,  0.53883121, -0.03063166,  0.24801207,  0.16061254,
         0.87868352,  0.06598754,  0.02035143,  0.01141562,  0.18602476,
         0.02452272,  0.28780641, -0.00112606, -0.01292981,  0.32948289,
         0.13830693, -0.25737358,  0.39460326]),
 array([0.26250144, 1.00716493, 1.41178193, 0.39990286, 0.39031974,
        1.57034229, 0.69093234, 1.35732428, 1.67718682, 2.04059183,
        1.37421752, 1.14665344, 0.84187164, 0.39313914, 1.10303834,
        1.00938804, 0.68660819, 0.73422125, 1.26948378, 1.61312417,
        0.66997968, 0.82263267, 1.05100595, 0.34222039, 1.24841939,
        2.19442701, 2.06978825, 0.88007313]),
 array([ 1.19938057,  1.71007617,  1.59346019,  1.27695356,  1.26857098,
         2.00437212,  1.92718433,  1.86081485,  1.9399778 ,  0.34120899,
         0.50303382,  2.66529133,  0.66707305,  0.36422678,  0.70356275,
         0.55029803,  0.10069053,  0.13281896,  0.25440993,  0.05378588,
         0.900331  , -0.20906423,  0.32623778,  0.90131563,  1.62321592,
         1.48748501,  0.74725293,  1.19580939]),
 array([ 0.5554954 ,  2.49599697,  0.08082996,  0.60124098,  2.39222981,
         2.11335849,  0.42068826,  4.49096586,  3.68629601,  1.9568384 ,
        -0.86830648,  2.12599005,  6.34720766,  3.41866987,  1.69628959,
         1.16277778,  1.67654276,  1.66327122,  2.91603286,  0.34812982,
        -0.28300002,  0.25811845,  4.23188294,  3.38474732,  3.99045709,
         5.12016932,  3.79445296,  2.13102574]),
 array([1.29946425, 1.0552163 , 0.05110762, 0.90349068, 1.61753628,
        0.64895645, 1.44934485, 0.52230068, 0.58499171, 0.05869318,
        0.35585306, 0.79172619, 0.4390028 , 1.10613225, 0.69246226,
        0.08247314, 0.17922179, 0.51344885, 0.07430499, 1.5532468 ,
        0.53529862, 0.31700941, 0.68481981, 0.03558196, 0.60470359,
        0.48391225, 0.49936885, 0.4201718 ]),
 array([ 0.17138678,  0.23761603,  0.57786851,  0.24351299,  0.38165983,
         0.50180047,  0.28147977,  0.96540409,  0.33778882,  0.43219364,
         0.06526559,  0.21489564,  0.57150011,  0.3044137 ,  0.37955686,
        -0.02597654,  0.42016597,  0.34083297,  0.08858668,  0.00573263,
         0.25813277, -0.03691712, -0.011531  ,  0.07853808,  0.16554977,
         0.0416432 , -0.22451889,  0.28856687]),
 array([ 1.38462728,  2.5940674 ,  1.20370489,  1.68755587, -0.3701005 ,
         0.74799146,  1.23746971,  1.52293717,  1.88363631, -0.64510579,
         1.8758193 ,  1.99982487,  2.2496354 ,  1.1615298 ,  1.21064868,
         1.01194904,  0.50695814,  1.72030203,  1.48746815,  1.93401588,
         0.59471053,  2.16477354,  1.32794199,  1.35098589,  0.86242708,
         2.35290714,  2.35370146,  0.68241818]),
 array([0.84175958, 1.84540617, 3.13239811, 4.4620281 , 3.58715408,
        4.31033452, 5.46771784, 3.46030239, 1.76809415, 2.50578525,
        4.03805612, 3.86164004, 4.35433803, 1.39381934, 2.39090505,
        3.36643004, 4.05102773, 4.5091997 , 3.94279742, 4.74131896,
        3.04950411, 1.19461573, 1.90449369, 3.12113969, 3.04062954,
        3.30126296, 2.7022548 , 4.39241868]),
 array([1.70764399, 2.48152873, 1.89033285, 1.47699249, 1.90023407,
        1.32599368, 4.48199288, 0.75212928, 0.54783878, 1.64439103,
        2.9124114 , 0.4112729 , 1.23747263, 1.13164729, 2.7279017 ,
        1.91777611, 1.33275775, 1.93468683, 1.55043354, 4.72223269,
        3.54108708, 2.20577128, 1.57405521, 1.55266539, 3.10266399,
        0.27393326, 1.57787063, 1.16296992]),
 array([0.42731292, 0.83162238, 0.33872335, 0.49439234, 0.19309926,
        0.19392561, 0.2947304 , 0.0084064 , 1.08935884, 0.52538872,
        0.51183366, 0.89445204, 0.00605905, 0.88505543, 0.85916076,
        0.99401339, 0.61069806, 0.07044702, 0.51759496, 0.02401286,
        0.20625224, 0.18173665, 1.03566497, 0.64972217, 0.72334688,
        0.55243336, 0.02341646, 0.12072152]),
 array([ 0.12739144,  0.58536929,  0.6390942 ,  0.86329252,  0.26405845,
         1.44779451,  0.32288825,  0.74358892,  0.55674699,  0.368928  ,
         0.54230718,  1.41100813,  0.58459116, -0.13026667,  0.74866696,
         0.95293354, -0.11866267,  0.67087496,  0.61723721,  0.69733241,
         0.74213659,  0.08912515,  0.91090333,  0.23214407,  0.73599732,
         0.87694543,  1.67079916,  1.1795872 ]),
 array([1.37218775, 1.22006504, 2.62483236, 1.88311832, 4.17093809,
        7.8175844 , 4.64149861, 4.28048031, 6.14927841, 5.84349085,
        5.00970714, 5.04243404, 3.06016383, 5.2717631 , 3.20571951,
        1.36088907, 0.81891943, 4.49271797, 0.73278553, 2.47832793,
        0.29937045, 0.24187619, 2.26527102, 3.37585571, 5.37511815,
        5.21203061, 7.15064918, 4.88848823]),
 array([0.13720405, 2.45036444, 1.23067332, 1.63645216, 1.56794085,
        2.69358713, 0.79967652, 1.31877357, 0.63433153, 0.79040909,
        1.18384356, 0.61077074, 0.92407983, 2.52910955, 1.51230143,
        0.87075459, 0.81438044, 0.58038619, 0.90588278, 2.41993359,
        2.7245309 , 1.41709415, 1.18329209, 0.71577357, 2.13270694,
        0.78363455, 2.9740489 , 2.0279282 ]),
 array([2.02020903, 3.29994944, 7.74635899, 9.86857432, 6.72731071,
        3.3475696 , 3.44100682, 5.32891482, 4.54630765, 4.40846725,
        2.54733221, 5.46470819, 4.80623155, 7.98888649, 5.64723956,
        5.42528447, 7.17100523, 5.31504151, 4.60385865, 8.88390209,
        3.72990699, 1.54598472, 3.77242183, 4.96949503, 4.379075  ,
        6.64344478, 3.90773897, 1.04274862]),
 array([-0.11334389,  0.13510311,  0.33752402,  0.50488004,  1.6174217 ,
         1.16952323,  1.34399014,  1.13583223,  1.27812636,  1.42685438,
         1.5942104 ,  1.6174217 ,  1.16952323,  1.34399014,  1.25408951,
         1.50253651,  1.70495742,  1.87231344,  1.89552474,  1.42810987,
         1.59399003,  1.25408951,  1.50253651,  1.70495742,  1.87231344,
         1.89552474,  1.42810987,  1.59399003]),
 array([ 6.79728693e-02, -5.92852961e-02, -3.05550625e-03,  3.86598716e-02,
         1.65160388e-02, -2.11845495e-02, -1.30055137e-01, -4.83627397e-02,
        -1.49145706e-01,  1.54925019e-02,  3.87748356e-02,  1.65160388e-02,
        -2.11845495e-02, -1.30055137e-01,  1.37846621e-01, -4.12463089e-02,
         5.05720225e-03,  4.05644857e-02,  1.61389637e+00,  1.58894732e-02,
         2.48181947e+00,  3.40335309e+00,  1.16531925e+00,  2.14724534e+00,
         3.77030228e-01,  2.28276830e+00,  1.61167305e+00,  1.10101492e+00]),
 array([ 1.16779639,  1.26093128,  0.33108818,  1.47076238,  1.20151975,
         3.6673015 ,  2.26375002, -0.11833304, -0.45169244,  0.21751582,
         2.24706002,  2.38712386,  1.51928175, -0.01833579,  1.29627949,
        -0.19878859,  1.31351285,  1.32303027,  1.76330451,  0.19208492,
         0.15038416,  0.90036667,  3.28121847,  4.20863816,  2.37473662,
         4.92889474,  5.23689482,  3.11509052]),
 array([ 6.83796254, 10.24736849,  2.49908648,  4.81096005, 12.1887513 ,
         9.75943351,  8.75801673, 11.16789407,  6.22517187,  6.23860925,
         8.78683415,  9.32728633,  7.76044806, 10.99570233,  7.23714632,
         4.4550792 ,  4.66055824,  3.99041373,  6.48351361,  5.55335621,
         5.71221806,  2.96582141,  3.77733849,  4.9693066 ,  5.59543272,
         7.21499995,  7.53442113,  5.8601101 ]),
 array([ 1.20984536,  1.8881858 ,  1.17100234,  1.43107694,  1.58810201,
         1.03224041, -0.23850138,  0.29762117,  1.31226853,  1.54341125,
         0.68728758,  2.25273134,  0.4889724 , -0.06084537,  0.4433875 ,
         0.13410198,  1.00294903,  1.11237806,  1.45220611,  0.98077868,
         1.69395498,  1.66279858,  0.83922571,  0.47593186,  0.89783399,
        -0.02381725,  1.47210095,  0.86887154]),
 array([-0.4705752 ,  0.07392558,  0.03783645,  0.66030241,  0.45047725,
         1.09115802,  0.55162062,  0.2063993 ,  0.26049965,  0.44584483,
        -0.02364627,  0.15401677,  0.24879028,  0.90485026,  0.05548569,
         1.13911154,  0.60603161,  0.50373023,  0.75917599,  1.05134953,
         0.32000106,  0.25270874,  0.63146189,  0.00619334,  0.79832639,
        -0.26863525,  0.81773189,  0.85372736]),
 array([ 1.83939539,  0.9815698 ,  0.19403592,  0.20848728,  0.32058943,
         2.132108  ,  3.55827873,  0.90011121,  0.32046031,  0.54685841,
         0.70336797,  0.51204588,  0.95794738,  3.43142207,  0.1271083 ,
         1.16242865,  0.68050541,  0.85641609,  0.08766059,  5.27822548,
         1.64779819, -0.34875877,  0.86287131,  0.81497225,  0.43326312,
         1.10116944,  0.35714577,  1.4218882 ]),
 array([ 0.89665652,  1.14918851,  1.16061131,  0.96685627,  1.40557967,
         0.959442  ,  0.21924516,  0.44443134,  0.68028903,  0.87455549,
         0.64750237,  1.18666241, -0.04459771,  1.49329752, -0.12279782,
         0.75937606,  1.38434978,  0.88170297,  1.34191491,  1.50887739,

In [70]:
trues

[date
 2016-03-28    2
 2016-03-29    1
 2016-03-30    1
 2016-03-31    0
 2016-04-01    4
 2016-04-02    0
 2016-04-03    0
 2016-04-04    4
 2016-04-05    1
 2016-04-06    3
 2016-04-07    0
 2016-04-08    1
 2016-04-09    0
 2016-04-10    2
 2016-04-11    2
 2016-04-12    0
 2016-04-13    1
 2016-04-14    1
 2016-04-15    0
 2016-04-16    2
 2016-04-17    0
 2016-04-18    4
 2016-04-19    1
 2016-04-20    1
 2016-04-21    0
 2016-04-22    1
 2016-04-23    1
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    1
 2016-03-30    0
 2016-03-31    0
 2016-04-01    0
 2016-04-02    0
 2016-04-03    0
 2016-04-04    0
 2016-04-05    0
 2016-04-06    1
 2016-04-07    0
 2016-04-08    0
 2016-04-09    0
 2016-04-10    0
 2016-04-11    1
 2016-04-12    0
 2016-04-13    0
 2016-04-14    1
 2016-04-15    1
 2016-04-16    3
 2016-04-17    1
 2016-04-18    0
 2016-04-19    0
 2016-04-20    1
 2016-04-21    2
 2016-04-22    0
 2016-04-23    0
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    4
 2016-03-29    0
 2016-03-30    0
 2016-03-31    1
 2016-04-01    1
 2016-04-02    0
 2016-04-03    0
 2016-04-04    1
 2016-04-05    0
 2016-04-06    1
 2016-04-07    1
 2016-04-08    0
 2016-04-09    1
 2016-04-10    0
 2016-04-11    0
 2016-04-12    1
 2016-04-13    2
 2016-04-14    0
 2016-04-15    3
 2016-04-16    0
 2016-04-17    2
 2016-04-18    1
 2016-04-19    1
 2016-04-20    0
 2016-04-21    1
 2016-04-22    0
 2016-04-23    1
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    0
 2016-03-31    0
 2016-04-01    0
 2016-04-02    0
 2016-04-03    0
 2016-04-04    0
 2016-04-05    0
 2016-04-06    0
 2016-04-07    0
 2016-04-08    0
 2016-04-09    0
 2016-04-10    0
 2016-04-11    0
 2016-04-12    0
 2016-04-13    0
 2016-04-14    0
 2016-04-15    0
 2016-04-16    0
 2016-04-17    0
 2016-04-18    0
 2016-04-19    0
 2016-04-20    0
 2016-04-21    0
 2016-04-22    0
 2016-04-23    0
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    1
 2016-03-29    1
 2016-03-30    0
 2016-03-31    0
 2016-04-01    3
 2016-04-02    0
 2016-04-03    0
 2016-04-04    2
 2016-04-05    0
 2016-04-06    0
 2016-04-07    3
 2016-04-08    0
 2016-04-09    2
 2016-04-10    0
 2016-04-11    2
 2016-04-12    0
 2016-04-13    1
 2016-04-14    2
 2016-04-15    3
 2016-04-16    1
 2016-04-17    1
 2016-04-18    2
 2016-04-19    0
 2016-04-20    2
 2016-04-21    2
 2016-04-22    1
 2016-04-23    4
 2016-04-24    1
 Name: sales, dtype: int64,
 date
 2016-03-28    3
 2016-03-29    0
 2016-03-30    2
 2016-03-31    3
 2016-04-01    1
 2016-04-02    1
 2016-04-03    2
 2016-04-04    1
 2016-04-05    2
 2016-04-06    8
 2016-04-07    3
 2016-04-08    2
 2016-04-09    3
 2016-04-10    0
 2016-04-11    0
 2016-04-12    0
 2016-04-13    0
 2016-04-14    2
 2016-04-15    1
 2016-04-16    3
 2016-04-17    1
 2016-04-18    0
 2016-04-19    2
 2016-04-20    1
 2016-04-21    2
 2016-04-22    3
 2016-04-23    2
 2016-04-24    2
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    0
 2016-03-31    0
 2016-04-01    1
 2016-04-02    1
 2016-04-03    0
 2016-04-04    0
 2016-04-05    0
 2016-04-06    0
 2016-04-07    0
 2016-04-08    0
 2016-04-09    0
 2016-04-10    1
 2016-04-11    0
 2016-04-12    0
 2016-04-13    0
 2016-04-14    0
 2016-04-15    0
 2016-04-16    1
 2016-04-17    0
 2016-04-18    0
 2016-04-19    0
 2016-04-20    0
 2016-04-21    0
 2016-04-22    0
 2016-04-23    0
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    0
 2016-03-31    0
 2016-04-01    0
 2016-04-02    0
 2016-04-03    0
 2016-04-04    0
 2016-04-05    0
 2016-04-06    0
 2016-04-07    0
 2016-04-08    0
 2016-04-09    0
 2016-04-10    0
 2016-04-11    0
 2016-04-12    0
 2016-04-13    0
 2016-04-14    0
 2016-04-15    0
 2016-04-16    0
 2016-04-17    0
 2016-04-18    0
 2016-04-19    0
 2016-04-20    0
 2016-04-21    0
 2016-04-22    0
 2016-04-23    0
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    0
 2016-03-31    0
 2016-04-01    0
 2016-04-02    0
 2016-04-03    1
 2016-04-04    0
 2016-04-05    1
 2016-04-06    3
 2016-04-07    0
 2016-04-08    0
 2016-04-09    0
 2016-04-10    0
 2016-04-11    0
 2016-04-12    0
 2016-04-13    0
 2016-04-14    0
 2016-04-15    0
 2016-04-16    0
 2016-04-17    0
 2016-04-18    0
 2016-04-19    0
 2016-04-20    0
 2016-04-21    0
 2016-04-22    0
 2016-04-23    2
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    2
 2016-03-29    3
 2016-03-30    4
 2016-03-31    1
 2016-04-01    1
 2016-04-02    2
 2016-04-03    2
 2016-04-04    0
 2016-04-05    1
 2016-04-06    0
 2016-04-07    1
 2016-04-08    0
 2016-04-09    1
 2016-04-10    0
 2016-04-11    1
 2016-04-12    2
 2016-04-13    0
 2016-04-14    0
 2016-04-15    0
 2016-04-16    2
 2016-04-17    0
 2016-04-18    1
 2016-04-19    3
 2016-04-20    2
 2016-04-21    3
 2016-04-22    1
 2016-04-23    0
 2016-04-24    1
 Name: sales, dtype: int64,
 date
 2016-03-28    7
 2016-03-29    2
 2016-03-30    2
 2016-03-31    2
 2016-04-01    0
 2016-04-02    2
 2016-04-03    0
 2016-04-04    4
 2016-04-05    3
 2016-04-06    5
 2016-04-07    4
 2016-04-08    1
 2016-04-09    5
 2016-04-10    1
 2016-04-11    3
 2016-04-12    1
 2016-04-13    2
 2016-04-14    0
 2016-04-15    1
 2016-04-16    0
 2016-04-17    6
 2016-04-18    5
 2016-04-19    2
 2016-04-20    2
 2016-04-21    5
 2016-04-22    6
 2016-04-23    2
 2016-04-24    4
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    0
 2016-03-31    0
 2016-04-01    0
 2016-04-02    0
 2016-04-03    2
 2016-04-04    3
 2016-04-05    5
 2016-04-06    2
 2016-04-07    0
 2016-04-08    8
 2016-04-09    4
 2016-04-10    3
 2016-04-11    0
 2016-04-12    6
 2016-04-13    6
 2016-04-14    3
 2016-04-15    2
 2016-04-16    0
 2016-04-17    3
 2016-04-18    1
 2016-04-19    1
 2016-04-20    4
 2016-04-21    1
 2016-04-22    4
 2016-04-23    9
 2016-04-24    1
 Name: sales, dtype: int64,
 date
 2016-03-28    1
 2016-03-29    0
 2016-03-30    2
 2016-03-31    0
 2016-04-01    2
 2016-04-02    2
 2016-04-03    1
 2016-04-04    1
 2016-04-05    1
 2016-04-06    1
 2016-04-07    0
 2016-04-08    1
 2016-04-09    2
 2016-04-10    2
 2016-04-11    4
 2016-04-12    0
 2016-04-13    0
 2016-04-14    3
 2016-04-15    0
 2016-04-16    1
 2016-04-17    0
 2016-04-18    1
 2016-04-19    0
 2016-04-20    0
 2016-04-21    1
 2016-04-22    0
 2016-04-23    3
 2016-04-24    2
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    1
 2016-03-30    0
 2016-03-31    1
 2016-04-01    1
 2016-04-02    0
 2016-04-03    0
 2016-04-04    0
 2016-04-05    0
 2016-04-06    1
 2016-04-07    0
 2016-04-08    0
 2016-04-09    1
 2016-04-10    0
 2016-04-11    0
 2016-04-12    0
 2016-04-13    0
 2016-04-14    3
 2016-04-15    0
 2016-04-16    1
 2016-04-17    1
 2016-04-18    0
 2016-04-19    2
 2016-04-20    0
 2016-04-21    1
 2016-04-22    2
 2016-04-23    2
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    0
 2016-03-31    0
 2016-04-01    0
 2016-04-02    0
 2016-04-03    0
 2016-04-04    0
 2016-04-05    0
 2016-04-06    0
 2016-04-07    0
 2016-04-08    0
 2016-04-09    0
 2016-04-10    0
 2016-04-11    0
 2016-04-12    0
 2016-04-13    0
 2016-04-14    0
 2016-04-15    0
 2016-04-16    0
 2016-04-17    0
 2016-04-18    0
 2016-04-19    0
 2016-04-20    0
 2016-04-21    1
 2016-04-22    1
 2016-04-23    2
 2016-04-24    1
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    1
 2016-03-30    0
 2016-03-31    0
 2016-04-01    1
 2016-04-02    1
 2016-04-03    1
 2016-04-04    0
 2016-04-05    0
 2016-04-06    0
 2016-04-07    2
 2016-04-08    1
 2016-04-09    2
 2016-04-10    1
 2016-04-11    1
 2016-04-12    0
 2016-04-13    1
 2016-04-14    0
 2016-04-15    2
 2016-04-16    2
 2016-04-17    0
 2016-04-18    1
 2016-04-19    0
 2016-04-20    0
 2016-04-21    1
 2016-04-22    2
 2016-04-23    1
 2016-04-24    4
 Name: sales, dtype: int64,
 date
 2016-03-28     6
 2016-03-29     4
 2016-03-30     5
 2016-03-31    15
 2016-04-01    17
 2016-04-02    16
 2016-04-03    16
 2016-04-04     3
 2016-04-05     5
 2016-04-06     4
 2016-04-07     2
 2016-04-08    11
 2016-04-09     5
 2016-04-10     5
 2016-04-11     3
 2016-04-12     2
 2016-04-13     5
 2016-04-14    11
 2016-04-15     4
 2016-04-16     7
 2016-04-17     6
 2016-04-18     6
 2016-04-19     5
 2016-04-20     1
 2016-04-21     9
 2016-04-22    25
 2016-04-23    22
 2016-04-24    13
 Name: sales, dtype: int64,
 date
 2016-03-28     3
 2016-03-29     3
 2016-03-30     3
 2016-03-31    14
 2016-04-01    16
 2016-04-02     9
 2016-04-03    13
 2016-04-04     8
 2016-04-05     0
 2016-04-06     0
 2016-04-07    24
 2016-04-08     9
 2016-04-09     8
 2016-04-10     7
 2016-04-11     8
 2016-04-12     0
 2016-04-13     1
 2016-04-14     1
 2016-04-15     9
 2016-04-16    19
 2016-04-17     1
 2016-04-18     8
 2016-04-19    10
 2016-04-20    27
 2016-04-21     2
 2016-04-22     4
 2016-04-23    15
 2016-04-24    18
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    1
 2016-03-31    1
 2016-04-01    0
 2016-04-02    2
 2016-04-03    1
 2016-04-04    1
 2016-04-05    0
 2016-04-06    0
 2016-04-07    1
 2016-04-08    1
 2016-04-09    1
 2016-04-10    2
 2016-04-11    0
 2016-04-12    1
 2016-04-13    3
 2016-04-14    3
 2016-04-15    4
 2016-04-16    1
 2016-04-17    1
 2016-04-18    1
 2016-04-19    1
 2016-04-20    0
 2016-04-21    2
 2016-04-22    2
 2016-04-23    2
 2016-04-24    1
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    3
 2016-03-30    0
 2016-03-31    1
 2016-04-01    6
 2016-04-02    4
 2016-04-03    2
 2016-04-04    0
 2016-04-05    0
 2016-04-06    0
 2016-04-07    0
 2016-04-08    0
 2016-04-09    1
 2016-04-10    1
 2016-04-11    1
 2016-04-12    0
 2016-04-13    4
 2016-04-14    3
 2016-04-15    2
 2016-04-16    0
 2016-04-17    0
 2016-04-18    0
 2016-04-19    0
 2016-04-20    0
 2016-04-21    4
 2016-04-22    2
 2016-04-23    3
 2016-04-24    3
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    0
 2016-03-31    0
 2016-04-01    0
 2016-04-02    0
 2016-04-03    0
 2016-04-04    0
 2016-04-05    0
 2016-04-06    0
 2016-04-07    0
 2016-04-08    1
 2016-04-09    0
 2016-04-10    0
 2016-04-11    0
 2016-04-12    0
 2016-04-13    0
 2016-04-14    0
 2016-04-15    1
 2016-04-16    0
 2016-04-17    0
 2016-04-18    0
 2016-04-19    0
 2016-04-20    0
 2016-04-21    0
 2016-04-22    0
 2016-04-23    0
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    4
 2016-03-29    1
 2016-03-30    0
 2016-03-31    0
 2016-04-01    0
 2016-04-02    0
 2016-04-03    0
 2016-04-04    0
 2016-04-05    0
 2016-04-06    0
 2016-04-07    0
 2016-04-08    0
 2016-04-09    0
 2016-04-10    0
 2016-04-11    0
 2016-04-12    0
 2016-04-13    0
 2016-04-14    0
 2016-04-15    0
 2016-04-16    0
 2016-04-17    0
 2016-04-18    0
 2016-04-19    0
 2016-04-20    0
 2016-04-21    0
 2016-04-22    3
 2016-04-23    0
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    1
 2016-03-29    0
 2016-03-30    0
 2016-03-31    0
 2016-04-01    0
 2016-04-02    0
 2016-04-03    0
 2016-04-04    0
 2016-04-05    0
 2016-04-06    0
 2016-04-07    0
 2016-04-08    0
 2016-04-09    0
 2016-04-10    0
 2016-04-11    0
 2016-04-12    0
 2016-04-13    0
 2016-04-14    0
 2016-04-15    0
 2016-04-16    0
 2016-04-17    0
 2016-04-18    0
 2016-04-19    0
 2016-04-20    0
 2016-04-21    0
 2016-04-22    0
 2016-04-23    1
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    0
 2016-03-31    0
 2016-04-01    1
 2016-04-02    0
 2016-04-03    0
 2016-04-04    0
 2016-04-05    2
 2016-04-06    2
 2016-04-07    0
 2016-04-08    1
 2016-04-09    0
 2016-04-10    1
 2016-04-11    1
 2016-04-12    0
 2016-04-13    0
 2016-04-14    0
 2016-04-15    1
 2016-04-16    1
 2016-04-17    2
 2016-04-18    3
 2016-04-19    1
 2016-04-20    0
 2016-04-21    0
 2016-04-22    2
 2016-04-23    1
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    0
 2016-03-31    0
 2016-04-01    0
 2016-04-02    0
 2016-04-03    0
 2016-04-04    0
 2016-04-05    0
 2016-04-06    0
 2016-04-07    0
 2016-04-08    0
 2016-04-09    0
 2016-04-10    1
 2016-04-11    0
 2016-04-12    1
 2016-04-13    0
 2016-04-14    0
 2016-04-15    4
 2016-04-16    4
 2016-04-17    0
 2016-04-18    2
 2016-04-19    0
 2016-04-20    1
 2016-04-21    3
 2016-04-22    1
 2016-04-23    1
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    3
 2016-03-31    3
 2016-04-01    0
 2016-04-02    4
 2016-04-03    2
 2016-04-04    4
 2016-04-05    3
 2016-04-06    1
 2016-04-07    2
 2016-04-08    5
 2016-04-09    6
 2016-04-10    4
 2016-04-11    3
 2016-04-12    1
 2016-04-13    2
 2016-04-14    4
 2016-04-15    5
 2016-04-16    4
 2016-04-17    2
 2016-04-18    3
 2016-04-19    1
 2016-04-20    0
 2016-04-21    2
 2016-04-22    1
 2016-04-23    3
 2016-04-24    3
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    0
 2016-03-31    0
 2016-04-01    0
 2016-04-02    0
 2016-04-03    0
 2016-04-04    0
 2016-04-05    0
 2016-04-06    0
 2016-04-07    0
 2016-04-08    0
 2016-04-09    0
 2016-04-10    0
 2016-04-11    0
 2016-04-12    0
 2016-04-13    0
 2016-04-14    0
 2016-04-15    1
 2016-04-16    5
 2016-04-17    4
 2016-04-18    2
 2016-04-19    1
 2016-04-20    1
 2016-04-21    1
 2016-04-22    3
 2016-04-23    0
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    0
 2016-03-31    1
 2016-04-01    1
 2016-04-02    0
 2016-04-03    0
 2016-04-04    0
 2016-04-05    2
 2016-04-06    0
 2016-04-07    0
 2016-04-08    0
 2016-04-09    1
 2016-04-10    0
 2016-04-11    0
 2016-04-12    0
 2016-04-13    0
 2016-04-14    1
 2016-04-15    0
 2016-04-16    0
 2016-04-17    0
 2016-04-18    1
 2016-04-19    0
 2016-04-20    2
 2016-04-21    0
 2016-04-22    0
 2016-04-23    0
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    0
 2016-03-31    1
 2016-04-01    0
 2016-04-02    1
 2016-04-03    1
 2016-04-04    0
 2016-04-05    0
 2016-04-06    0
 2016-04-07    0
 2016-04-08    0
 2016-04-09    0
 2016-04-10    1
 2016-04-11    0
 2016-04-12    0
 2016-04-13    0
 2016-04-14    3
 2016-04-15    0
 2016-04-16    2
 2016-04-17    0
 2016-04-18    0
 2016-04-19    1
 2016-04-20    1
 2016-04-21    2
 2016-04-22    1
 2016-04-23    1
 2016-04-24    1
 Name: sales, dtype: int64,
 date
 2016-03-28    1
 2016-03-29    2
 2016-03-30    1
 2016-03-31    0
 2016-04-01    0
 2016-04-02    2
 2016-04-03    1
 2016-04-04    1
 2016-04-05    1
 2016-04-06    0
 2016-04-07    0
 2016-04-08    0
 2016-04-09    0
 2016-04-10    1
 2016-04-11    0
 2016-04-12    0
 2016-04-13    1
 2016-04-14    0
 2016-04-15    1
 2016-04-16    0
 2016-04-17    0
 2016-04-18    1
 2016-04-19    0
 2016-04-20    4
 2016-04-21    0
 2016-04-22    0
 2016-04-23    4
 2016-04-24    3
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    0
 2016-03-31    0
 2016-04-01    3
 2016-04-02    0
 2016-04-03    6
 2016-04-04    2
 2016-04-05    0
 2016-04-06    0
 2016-04-07    1
 2016-04-08    6
 2016-04-09    4
 2016-04-10    0
 2016-04-11    0
 2016-04-12    0
 2016-04-13    0
 2016-04-14    0
 2016-04-15    0
 2016-04-16    0
 2016-04-17    0
 2016-04-18    2
 2016-04-19    2
 2016-04-20    4
 2016-04-21    2
 2016-04-22    3
 2016-04-23    2
 2016-04-24    3
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    1
 2016-03-30    1
 2016-03-31    0
 2016-04-01    2
 2016-04-02    1
 2016-04-03    0
 2016-04-04    2
 2016-04-05    0
 2016-04-06    1
 2016-04-07    0
 2016-04-08    0
 2016-04-09    1
 2016-04-10    2
 2016-04-11    0
 2016-04-12    0
 2016-04-13    1
 2016-04-14    1
 2016-04-15    2
 2016-04-16    0
 2016-04-17    0
 2016-04-18    1
 2016-04-19    1
 2016-04-20    2
 2016-04-21    1
 2016-04-22    0
 2016-04-23    2
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    0
 2016-03-31    0
 2016-04-01    0
 2016-04-02    0
 2016-04-03    0
 2016-04-04    2
 2016-04-05    0
 2016-04-06    0
 2016-04-07    0
 2016-04-08    0
 2016-04-09    4
 2016-04-10    0
 2016-04-11    1
 2016-04-12    0
 2016-04-13    0
 2016-04-14    0
 2016-04-15    0
 2016-04-16    0
 2016-04-17    0
 2016-04-18    0
 2016-04-19    0
 2016-04-20    0
 2016-04-21    0
 2016-04-22    0
 2016-04-23    0
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28     2
 2016-03-29     5
 2016-03-30     4
 2016-03-31     0
 2016-04-01     1
 2016-04-02     0
 2016-04-03     2
 2016-04-04     0
 2016-04-05     0
 2016-04-06     0
 2016-04-07     1
 2016-04-08     0
 2016-04-09     0
 2016-04-10     0
 2016-04-11     1
 2016-04-12     2
 2016-04-13     1
 2016-04-14     1
 2016-04-15     1
 2016-04-16     0
 2016-04-17     2
 2016-04-18     0
 2016-04-19     2
 2016-04-20     1
 2016-04-21     1
 2016-04-22     0
 2016-04-23    12
 2016-04-24     4
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    1
 2016-03-31    0
 2016-04-01    1
 2016-04-02    4
 2016-04-03    2
 2016-04-04    1
 2016-04-05    2
 2016-04-06    1
 2016-04-07    3
 2016-04-08    3
 2016-04-09    0
 2016-04-10    2
 2016-04-11    2
 2016-04-12    1
 2016-04-13    1
 2016-04-14    3
 2016-04-15    4
 2016-04-16    4
 2016-04-17    0
 2016-04-18    2
 2016-04-19    4
 2016-04-20    3
 2016-04-21    5
 2016-04-22    3
 2016-04-23    6
 2016-04-24    3
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    2
 2016-03-31    1
 2016-04-01    2
 2016-04-02    6
 2016-04-03    0
 2016-04-04    0
 2016-04-05    4
 2016-04-06    1
 2016-04-07    0
 2016-04-08    2
 2016-04-09    3
 2016-04-10    3
 2016-04-11    0
 2016-04-12    3
 2016-04-13    0
 2016-04-14    2
 2016-04-15    7
 2016-04-16    4
 2016-04-17    2
 2016-04-18    0
 2016-04-19    3
 2016-04-20    1
 2016-04-21    2
 2016-04-22    2
 2016-04-23    2
 2016-04-24    1
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    0
 2016-03-31    0
 2016-04-01    0
 2016-04-02    0
 2016-04-03    0
 2016-04-04    2
 2016-04-05    0
 2016-04-06    2
 2016-04-07    0
 2016-04-08    1
 2016-04-09    1
 2016-04-10    0
 2016-04-11    1
 2016-04-12    0
 2016-04-13    1
 2016-04-14    2
 2016-04-15    1
 2016-04-16    0
 2016-04-17    1
 2016-04-18    1
 2016-04-19    0
 2016-04-20    0
 2016-04-21    0
 2016-04-22    0
 2016-04-23    0
 2016-04-24    1
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    1
 2016-03-30    0
 2016-03-31    1
 2016-04-01    0
 2016-04-02    2
 2016-04-03    1
 2016-04-04    0
 2016-04-05    2
 2016-04-06    0
 2016-04-07    0
 2016-04-08    0
 2016-04-09    2
 2016-04-10    1
 2016-04-11    0
 2016-04-12    1
 2016-04-13    1
 2016-04-14    0
 2016-04-15    1
 2016-04-16    0
 2016-04-17    2
 2016-04-18    0
 2016-04-19    0
 2016-04-20    1
 2016-04-21    1
 2016-04-22    0
 2016-04-23    1
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    1
 2016-03-30    0
 2016-03-31    7
 2016-04-01    3
 2016-04-02    2
 2016-04-03    3
 2016-04-04    3
 2016-04-05    9
 2016-04-06    1
 2016-04-07    3
 2016-04-08    1
 2016-04-09    6
 2016-04-10    5
 2016-04-11    0
 2016-04-12    0
 2016-04-13    2
 2016-04-14    0
 2016-04-15    0
 2016-04-16    0
 2016-04-17    0
 2016-04-18    2
 2016-04-19    4
 2016-04-20    7
 2016-04-21    3
 2016-04-22    5
 2016-04-23    4
 2016-04-24    1
 Name: sales, dtype: int64,
 date
 2016-03-28    0

In [77]:
RMSEs = []
for i in range(216):
    RMSEs.append(mean_squared_error(trues[i], preds[i], squared=False))

In [80]:
np.mean(RMSEs)

1.554662679509895

In [68]:
CA1_F1_ts

,id,d,sales,wday,month,event_name_1,event_name_2,snap_CA,lag_1,lag_2,lag_3,lag_4,lag_5,lag_6,lag_7,lag_14,lag_21,lag_28
date,,,,,,,,,,,,,,,,,,
2011-01-29,FOODS_1_001_CA_1_validation,d_1,3,1,1,19,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-29,FOODS_1_002_CA_1_validation,d_1,0,1,1,19,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-29,FOODS_1_003_CA_1_validation,d_1,0,1,1,19,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-29,FOODS_1_004_CA_1_validation,d_1,0,1,1,19,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-29,FOODS_1_005_CA_1_validation,d_1,3,1,1,19,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-04-24,FOODS_1_215_CA_1_validation,d_1913,0,2,4,19,3,0,0.0,0.0,0.0,0.0,4.0,6.0,2.0,0.0,4.0,0.0
2016-04-24,FOODS_1_216_CA_1_validation,d_1913,1,2,4,19,3,0,3.0,1.0,1.0,3.0,0.0,0.0,2.0,0.0,0.0,0.0
2016-04-24,FOODS_1_217_CA_1_validation,d_1913,3,2,4,19,3,0,4.0,1.0,2.0,0.0,2.0,3.0,3.0,5.0,4.0,2.0
2016-04-24,FOODS_1_218_CA_1_validation,d_1913,6,2,4,19,3,0,8.0,9.0,2.0,4.0,5.0,9.0,10.0,13.0,11.0,9.0
2016-04-24,FOODS_1_219_CA_1_validation,d_1913,1,2,4,19,3,0,2.0,4.0,1.0,0.0,1.0,6.0,6.0,6.0,5.0,3.0

In [ ]:
trial.drop(columns=['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'], inplace=True)

In [ ]:
trial_ts = trial.melt(var_name='d', value_name='sales')

In [ ]:
trial_ts = trial_ts.merge(dates, how='inner', on='d')

In [ ]:
trial_ts.set_index('date', inplace=True)

In [ ]:
trial_ts['lag_1'] = trial_ts['sales'].shift(periods=216*1)

In [ ]:
trial_ts['lag_2'] = trial_ts['sales'].shift(periods=216*2)

In [ ]:
trial_ts['lag_3'] = trial_ts['sales'].shift(periods=216*3)

In [ ]:
trial_ts['lag_4'] = trial_ts['sales'].shift(periods=216*4)

In [ ]:
trial_ts['lag_5'] = trial_ts['sales'].shift(periods=216*5)

In [ ]:
trial_ts['lag_6'] = trial_ts['sales'].shift(periods=216*6)

In [ ]:
trial_ts['lag_7'] = trial_ts['sales'].shift(periods=216*7)

In [ ]:
trial_ts['lag_14'] = trial_ts['sales'].shift(periods=216*14)

In [ ]:
trial_ts['lag_21'] = trial_ts['sales'].shift(periods=216*21)

In [ ]:
trial_ts['lag_28'] = trial_ts['sales'].shift(periods=216*28)

In [ ]:
train = trial_ts['2014-03-28':'2016-03-28']

In [ ]:
test = trial_ts['2016-03-28':]

In [ ]:
X_train = train.drop(['sales', 'd', 'wm_yr_wk', 'event_name_1', 'event_name_2'], axis=1)
X_test = test.drop(['sales', 'd', 'wm_yr_wk', 'event_name_1', 'event_name_2'], axis=1)
y_train = train['sales']
y_test = test['sales']

In [ ]:
y_test

In [ ]:
label = LabelEncoder()
X_train['id'] = label.fit_transform(X_train['id'])
X_test['id'] = label.transform(X_test['id'])

In [ ]:
trial_ts

In [ ]:
X_train

In [ ]:
rf2 = RandomForestRegressor(max_depth=20)
rf2.fit(X_train, y_train)

In [ ]:
rf2.score(X_train, y_train)

In [ ]:
rf2.score(X_test, y_test)

In [ ]:
rf2_preds = rf2.predict(X_test)

In [ ]:
mean_squared_error(y_test, rf2_preds)

In [ ]:
val['dept_id'].unique()

In [ ]:
CA1_f1 = val[(val['store_id'] == 'CA_1')&(val['dept_id'] == 'FOODS_1')]

In [ ]:
CA1_f1_melt = CA1_f1.drop(columns=['item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'])

In [ ]:
CA1_f1_ts = CA1_f1_melt.melt(id_vars=['id'], var_name='d', value_name='sales')

In [ ]:
CA1_f1_ts

In [ ]:
CA1_f1_ts = CA1_f1_ts.merge(dates, how='inner', on='d')

In [ ]:
CA1_f1_ts

In [ ]:
CA1_f1_ts.loc['2011-01-30']

In [ ]:
CA1_f1_ts.set_index('date', inplace=True)

In [ ]:
CA1_f1_ts['lag_1'] = CA1_f1_ts['sales'].shift(periods=216)

In [ ]:
CA1_f1_ts['lag_2'] = CA1_f1_ts['sales'].shift(periods=(216*2))

In [ ]:
CA1_f1_ts['lag_3'] = CA1_f1_ts['sales'].shift(periods=(216*3))

In [ ]:
CA1_f1_ts['lag_4'] = CA1_f1_ts['sales'].shift(periods=(216*4))

In [ ]:
CA1_f1_ts['lag_5'] = CA1_f1_ts['sales'].shift(periods=(216*5))

In [ ]:
CA1_f1_ts['lag_6'] = CA1_f1_ts['sales'].shift(periods=(216*6))

In [ ]:
CA1_f1_ts['lag_7'] = CA1_f1_ts['sales'].shift(periods=(216*7))

In [ ]:
CA1_f1_ts['lag_14'] = CA1_f1_ts['sales'].shift(periods=(216*14))

In [ ]:
CA1_f1_ts['lag_21'] = CA1_f1_ts['sales'].shift(periods=(216*21))

In [ ]:
CA1_f1_ts['lag_28'] = CA1_f1_ts['sales'].shift(periods=(216*28))

In [ ]:
CA1_f1_ts

In [ ]:
train = CA1_f1_ts['2014-03-28':'2016-03-28']

In [ ]:
test = CA1_f1_ts['2016-03-28':]

In [ ]:
# item 7, 100, and 165 are missing, thus 216 per day
test['id'].unique()

In [ ]:
train

In [ ]:
test

In [ ]:
X_train = train.drop(['sales', 'd', 'wm_yr_wk', 'event_name_1', 'event_name_2'], axis=1)
X_test = test.drop(['sales', 'd', 'wm_yr_wk', 'event_name_1', 'event_name_2'], axis=1)
y_train = train['sales']
y_test = test['sales']

In [ ]:
y_test

In [ ]:
label = LabelEncoder()
X_train['id'] = label.fit_transform(X_train['id'])
X_test['id'] = label.transform(X_test['id'])

In [ ]:
rf1 = RandomForestRegressor(max_depth=20)
rf1.fit(X_train, y_train)

In [ ]:
rf1.score(X_train, y_train)

In [ ]:
rf1.score(X_test, y_test)

In [ ]:
rf1_preds = rf1.predict(X_test)

In [ ]:
rf1_preds = pd.Series(rf1_preds).set_axis(y_test.index)

In [ ]:
fig, ax = plt.subplots()
ax.plot(rf1_preds)
ax.plot(y_test)

In [ ]:
mean_squared_error(rf1_preds, y_test, squared=False)

In [ ]:
lgbm_1 = LGBMRegressor()
lgbm_1.fit(X_train, y_train)

In [ ]:
lgbm_1.score(X_train, y_train)

In [ ]:
lgbm_1.score(X_test, y_test)

In [ ]:
xgb_1 = XGBRegressor()
xgb_1.fit(X_train, y_train)

In [ ]:
xgb_1.score(X_train, y_train)

In [ ]:
xgb_1.score(X_test, y_test)

In [ ]:
CA1_join = CA_1[['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id']]

In [ ]:
#to_melt = train.drop(columns=['item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'])

In [ ]:
#train_ts = to_melt.melt(id_vars=['id'], var_name='d', value_name='sales')

In [ ]:
#to_join = train[['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id']]

In [ ]:
train_ts = train_ts.merge(to_join, on='id', how='inner')

In [ ]:
train_ts.to_csv('./timeseries.csv')

In [ ]:
train_ts.merge(dates, on='d', how='inner')

In [ ]:
train_ts['value'].max()

In [ ]:
train_ts = pd.melt(train, id_vars=['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'], var_name='day')

In [ ]:
train_ts

In [ ]:
train = pd.read_csv('C:/Users/TWood/Downloads/m5-forecasting-accuracy/sales_train_evaluation.csv')

In [ ]:
val_ts = pd.melt(val.head(), id_vars=['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'], var_name='d')

In [ ]:
val_ts = val_ts.merge(dates, on='d')

In [ ]:
val_ts.set_index('date')

In [ ]:
df.describe()

In [ ]:
pd.read_csv('C:/Users/TWood/Downloads/m5-forecasting-accuracy/sample_submission.csv')

In [ ]:
pd.read_csv('C:/Users/TWood/Downloads/m5-forecasting-accuracy/sell_prices.csv')