# Predicting Units Sold by Store and Product

## Business Understanding

## Data Understanding

I recieved my data from the M5 Forecasting - Accuracy competition on Kaggle. It contains a 5 files: calendar.csv, sales_train_validation.csv, sample_submission.csv, sell_prices.csv, and sales_train_evaluation.csv. The calendar.csv file contains the date for every day, as well as the weekday, month, and Wal-Mart week. It also includes information of the days holiday status, and the days when snap is available. The sales_train_validation.csv contains information on the amount of units sold every day for 3019 different products across 10 different Wal-Mart stores in three different states. The sales_train_evaluation data contains the same information as the validation data, along with the correct values for the 28 day forecast. The sample_submission.csv contains an example csv for the format needed to submit the 28 day forecasts. The sell_prices.csv contains the prices at which the items were sold for every Wal-Mart week.

In [1]:
# imports for notebook
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder, MultiLabelBinarizer
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from lightgbm import LGBMRegressor
from xgboost import XGBRegressor

In [329]:
# read in the dates and their recorded unique characteristics
dates = pd.read_csv('C:/Users/TWood/Downloads/m5-forecasting-accuracy/calendar.csv', parse_dates=[0])

In [330]:
# take a look at the dates df
dates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1969 entries, 0 to 1968
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          1969 non-null   datetime64[ns]
 1   wm_yr_wk      1969 non-null   int64
 2   weekday       1969 non-null   object
 3   wday          1969 non-null   int64
 4   month         1969 non-null   int64
 5   year          1969 non-null   int64
 6   d             1969 non-null   object
 7   event_name_1  162 non-null    object
 8   event_type_1  162 non-null    object
 9   event_name_2  5 non-null      object
 10  event_type_2  5 non-null      object
 11  snap_CA       1969 non-null   int64
 12  snap_TX       1969 non-null   int64
 13  snap_WI       1969 non-null   int64
dtypes: datetime64[ns](1), int64(7), object(6)
memory usage: 215.5+ KB

In [331]:
# most days have no event, replace NaN with "None"
dates.replace(np.NaN, 'None', inplace=True)

Some days have multiple events. One hot encoding will not be able to represent columns with multiple events, so the information will need to be in a format that the MultiLabelBinarizer can use. I'll make a new column that contains a list of all events on a given day.

In [332]:
# remove spaces from all the events names
dates['event_name_1'] = dates['event_name_1'].str.replace(' ', '')
dates['event_name_2'] = dates['event_name_2'].str.replace(' ', '')

In [333]:
# create event column that contains a string of both events with a space between
dates['event'] = dates['event_name_1'] + ' ' + dates['event_name_2']

In [334]:
# split will turn the string into a list of both events
dates['event'] = dates['event'].str.split()

In [335]:
# removes the second element from the list when it is None
dates['event'] = dates['event'].apply(lambda x: [x[0]] if x[1] == 'None' else x)

In [336]:
# instantiat the MultiLabelBinarizer and fit it to the event column
mlb = MultiLabelBinarizer()
mlb.fit(dates['event'])
values = pd.DataFrame(mlb.transform(dates['event']), columns=mlb.classes_)

In [337]:
# adds the encoded columns to the dates dataframe
dates = pd.concat([dates, values], axis=1)

In [338]:
# drops the redundant event columns from dates
dates.drop(columns=['event_name_1', 'event_type_1', 'event_name_2', 'event_type_2', 'event'], inplace=True)

In [339]:
# instantiate the OneHotEncoder and fit it to weekday and month columns
ohe = OneHotEncoder(sparse=False)
ohe.fit(dates[['weekday', 'month']])
values = ohe.transform(dates[['weekday', 'month']])
values = pd.DataFrame(values, columns=ohe.get_feature_names())

In [340]:
# add the one hot encoded columns to the dates dataframe
dates = pd.concat([dates, values], axis=1)

In [341]:
# drop the unnecessary columns from the dates dataframe
dates.drop(columns=['wday', 'year', 'month', 'weekday'], inplace=True)

In [342]:
# read in the data for units sold
val = pd.read_csv('C:/Users/TWood/Downloads/m5-forecasting-accuracy/sales_train_validation.csv')

In [354]:
# select data only from store CA_1
CA1 = val[val['store_id'] == 'CA_1']

In [343]:
# select only the data from department FOODS_1 in store CA_1 
CA1_F1 = val[val['store_id'] == 'CA_1'&(val['dept_id'] == 'FOODS_1')]

In [355]:
# reducing the unnecessary columns to make the melt faster
CA1.drop(columns=['item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'], inplace=True)

C:\Users\TWood\anaconda3\envs\learn-env\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [356]:
# make an iterable array of all the unique ids 
items = CA1['id'].unique()

In [357]:
# convert the dataframe into long format
CA1_ts = CA1.melt(id_vars=['id'], var_name='d', value_name='sales')

In [358]:
# read in the data on the prices for the products
prices = pd.read_csv('C:/Users/TWood/Downloads/m5-forecasting-accuracy/sell_prices.csv')

In [359]:
# make a new id column that matches the format of the id column in CA1_ts
prices['id'] = prices['item_id'] + '_' + prices['store_id'] + '_validation'

In [360]:
# the sell prices are present for all 30490 items for the final week, matches length of val dataframe
(prices['wm_yr_wk'] == 11621).sum()

30490

In [361]:
# create a dataframe with the information from all dataframes
CA1_price = CA1_ts.merge(dates, on='d').merge(prices.drop(columns=['store_id', 'item_id', 'snap_TX', 'snap_WI']), on=['id', 'wm_yr_wk'], how='left')

## Exploratory Data Analysis

In [362]:
# summary statistics of the numerical variables
CA1_price.describe()

,sales,wm_yr_wk,snap_CA,snap_TX,snap_WI,ChanukahEnd,Christmas,CincoDeMayo,ColumbusDay,Easter,...,x1_4,x1_5,x1_6,x1_7,x1_8,x1_9,x1_10,x1_11,x1_12,sell_price
count,5.832737e+06,5.832737e+06,5.832737e+06,5.832737e+06,5.832737e+06,5.832737e+06,5.832737e+06,5.832737e+06,5.832737e+06,5.832737e+06,...,5.832737e+06,5.832737e+06,5.832737e+06,5.832737e+06,5.832737e+06,5.832737e+06,5.832737e+06,5.832737e+06,5.832737e+06,4.702895e+06
mean,1.319829e+00,1.133919e+04,3.293257e-01,3.293257e-01,3.293257e-01,2.613696e-03,2.613696e-03,2.613696e-03,2.613696e-03,3.136435e-03,...,9.095661e-02,8.102457e-02,7.841087e-02,8.102457e-02,8.102457e-02,7.841087e-02,8.102457e-02,7.841087e-02,8.102457e-02,4.411276e+00
std,4.058652e+00,1.503742e+02,4.699684e-01,4.699684e-01,4.699684e-01,5.105747e-02,5.105747e-02,5.105747e-02,5.105747e-02,5.591599e-02,...,2.875474e-01,2.728729e-01,2.688171e-01,2.728729e-01,2.728729e-01,2.688171e-01,2.728729e-01,2.688171e-01,2.728729e-01,3.395051e+00
min,0.000000e+00,1.110100e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e-02
25%,0.000000e+00,1.121700e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.220000e+00
50%,0.000000e+00,1.133300e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.470000e+00
75%,1.000000e+00,1.144800e+04,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.770000e+00
max,6.480000e+02,1.161300e+04,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,3.098000e+01

In [363]:
# summary statistics for non numerical values
CA1_F1_price.describe(include='object')

                                 id       d
count                        413208  413208
unique                          216    1913
top     FOODS_1_215_CA_1_validation    d_41
freq                           1913     216

In [156]:
(CA1_F1_price['date'] == '2011-01-29').sum()

216

In [158]:
CA1_F1_price['lag_28'] = CA1_F1_price['sales'].shift(periods=216)

In [219]:
preds = []
trues = []
for item in items:
    ts = CA1_F1_price[CA1_F1_price['id'] == item]
    test = ts['2016-03-28':]
    trues.append(test['sales'])
    preds.append(test['lag_28'])

In [220]:
RMSEs = []
for i in range(216):
    RMSEs.append(mean_squared_error(trues[i], preds[i], squared=False))

In [221]:
np.mean(RMSEs)

1.8183114470006307

In [312]:
CA1_F1_price['lag_28'].rolling(8).mean()

date
2011-01-30      NaN
2011-01-30      NaN
2011-01-30      NaN
2011-01-30      NaN
2011-01-30      NaN
              ...
2016-04-24    0.000
2016-04-24    0.375
2016-04-24    0.875
2016-04-24    1.875
2016-04-24    2.125
Name: lag_28, Length: 351815, dtype: float64

In [319]:
CA1_F1_price['lag_28'].tail(28)

date
2016-04-24    0.0
2016-04-24    0.0
2016-04-24    3.0
2016-04-24    1.0
2016-04-24    0.0
2016-04-24    0.0
2016-04-24    2.0
2016-04-24    0.0
2016-04-24    6.0
2016-04-24    6.0
2016-04-24    0.0
2016-04-24    4.0
2016-04-24    3.0
2016-04-24    2.0
2016-04-24    8.0
2016-04-24    3.0
2016-04-24    0.0
2016-04-24    0.0
2016-04-24    0.0
2016-04-24    0.0
2016-04-24    0.0
2016-04-24    0.0
2016-04-24    0.0
2016-04-24    0.0
2016-04-24    3.0
2016-04-24    4.0
2016-04-24    8.0
2016-04-24    2.0
Name: lag_28, dtype: float64

In [318]:
CA1_F1_price[CA1_F1_price['id'] == 'FOODS_1_219_CA_1_validation']['lag_28'].tail(28)

date
2016-03-28    3.0
2016-03-29    6.0
2016-03-30    5.0
2016-03-31    3.0
2016-04-01    0.0
2016-04-02    3.0
2016-04-03    8.0
2016-04-04    5.0
2016-04-05    2.0
2016-04-06    4.0
2016-04-07    1.0
2016-04-08    3.0
2016-04-09    1.0
2016-04-10    4.0
2016-04-11    6.0
2016-04-12    4.0
2016-04-13    2.0
2016-04-14    1.0
2016-04-15    4.0
2016-04-16    4.0
2016-04-17    3.0
2016-04-18    6.0
2016-04-19    6.0
2016-04-20    1.0
2016-04-21    0.0
2016-04-22    1.0
2016-04-23    4.0
2016-04-24    2.0
Name: lag_28, dtype: float64

In [28]:
# 61292 missing price values
CA1_F1_price['sell_price'].isna().sum()

61292

In [29]:
# Every single time the price is missing, there are no sales
((CA1_F1_price['sell_price'].isna())&(CA1_F1_price['sales'] == 0)).sum()

61292

In [163]:
CA1_F1_price.dropna(inplace=True)

In [164]:
CA1_F1_price['d'] = CA1_F1_price['d'].str.replace('d_', '').astype(int)

In [171]:
CA1_F1_price.drop(columns=['wm_yr_wk', 'weekday', 'wday', 'month', 'year', 'event_name_1', 'event_type_1', 'event_name_2', 'event_type_2', 'event'], inplace=True)

In [176]:
CA1_F1_price.set_index('date', inplace=True)

In [209]:
preds = []
trues = []
train_scores = []
test_scores = []
importances = []
for item in items:
    ts = CA1_F1_price[CA1_F1_price['id'] == item].drop(columns=['id'])
    train = ts[:'2016-03-28']
    test = ts['2016-03-28':]
    X_train = train.drop('sales', axis=1)
    X_test = test.drop('sales', axis=1)
    y_train = train['sales']
    y_test = test['sales']
    rf = RandomForestRegressor().fit(X_train, y_train)
    preds.append(rf.predict(X_test))
    trues.append(y_test)
    train_scores.append(rf.score(X_train, y_train))
    test_scores.append(rf.score(X_test, y_test))
    importances.append(rf.feature_importances_)

In [215]:
np.mean(train_scores)

0.5524568116848505

In [216]:
np.mean(test_scores)

-0.22585515756620791

In [217]:
RMSEs = []
for i in range(216):
    RMSEs.append(mean_squared_error(trues[i], preds[i], squared=False))

In [218]:
np.mean(RMSEs)

1.4917644039246414

In [227]:
preds = []
trues = []
train_scores = []
test_scores = []
importances = []
for item in items:
    ts = CA1_F1_price[CA1_F1_price['id'] == item].drop(columns=['id'])
    train = ts[:'2016-03-28']
    test = ts['2016-03-28':]
    X_train = train.drop('sales', axis=1)
    X_test = test.drop('sales', axis=1)
    y_train = train['sales']
    y_test = test['sales']
    xgb = XGBRegressor().fit(X_train, y_train)
    preds.append(xgb.predict(X_test))
    trues.append(y_test)
    train_scores.append(xgb.score(X_train, y_train))
    test_scores.append(xgb.score(X_test, y_test))
    importances.append(xgb.feature_importances_)

In [228]:
np.mean(train_scores)

0.8949888703594413

In [229]:
np.mean(test_scores)

-1.26556087486873

In [230]:
RMSEs = []
for i in range(216):
    RMSEs.append(mean_squared_error(trues[i], preds[i], squared=False))

In [231]:
np.mean(RMSEs)

1.9247628696121823

In [214]:
preds = []
trues = []
train_scores = []
test_scores = []
importances = []
for item in items:
    ts = CA1_F1_price[CA1_F1_price['id'] == item].drop(columns=['id'])
    train = ts[:'2016-03-28']
    test = ts['2016-03-28':]
    X_train = train.drop('sales', axis=1)
    X_test = test.drop('sales', axis=1)
    y_train = train['sales']
    y_test = test['sales']
    lgbm = LGBMRegressor().fit(X_train, y_train)
    preds.append(lgbm.predict(X_test))
    trues.append(y_test)
    train_scores.append(lgbm.score(X_train, y_train))
    test_scores.append(lgbm.score(X_test, y_test))
    importances.append(lgbm.feature_importances_)

In [193]:
for pred in preds:
    pred[pred < 0] = 0

In [189]:
preds

[array([0.43800372, 0.56157198, 0.84040732, 0.64755176, 0.62397097,
        0.96548823, 0.32786325, 1.16319308, 0.47925759, 1.35713543,
        0.43927371, 0.84690325, 1.03046754, 0.98449991, 0.76559798,
        0.76465471, 0.77963582, 0.35304895, 0.72303992, 1.0299443 ,
        0.82713113, 0.47765905, 0.65423307, 1.15164699, 0.33448149,
        0.45613931, 0.83469697, 0.74291507]),
 array([ 0.20622213,  0.3360104 ,  0.53901561,  0.2896914 ,  0.47699873,
         0.00872392,  0.46698587,  0.36267727,  0.12215601,  0.09284693,
         0.19834826,  0.21799892,  0.29491186,  0.26114442,  0.22544538,
        -0.07998771,  0.50354172,  0.57701413,  0.34521969,  0.44153373,
         0.05676968,  0.09683433,  0.43524591,  0.50660791,  0.30980568,
         0.31155182,  0.46280622,  0.41406952]),
 array([1.44042803, 0.34040306, 0.90979297, 0.39985395, 0.33229313,
        0.46246364, 1.12813185, 1.40480432, 0.09306718, 0.68117959,
        0.28083839, 0.69567872, 1.08456977, 0.74986547, 0.90220887,
        0.58247011, 0.15358048, 1.25857306, 0.92540884, 0.31442463,
        0.72616131, 1.35964565, 0.24014165, 0.63603698, 0.27492137,
        0.70658846, 0.45161933, 0.81413296]),
 array([-0.03659366, -0.12298233,  0.89140283, -0.48837515,  1.18872264,
         2.47580182,  4.8620193 ,  1.43097887,  2.00627679,  2.88853565,
         1.63565839,  1.00175867,  0.89062622,  8.82730229,  1.15286229,
         1.47860933,  3.38138236,  1.11688988,  0.90662438,  2.23144183,
         8.85854393,  1.81604526,  2.17487794,  3.93652606,  1.7700076 ,
         1.7417274 ,  2.23144183,  8.85854393]),
 array([ 1.00730569,  1.1355849 ,  0.92296646,  0.68266419,  0.27314623,
         2.61258679, -0.15568804,  0.8835457 ,  0.46784838,  0.10336479,
         0.22862934,  1.98118935,  0.29125513,  1.34369667,  0.30194115,
         1.4095205 ,  0.33234756,  0.89306344,  1.39087071,  1.82546796,
         0.89880213,  0.61669589,  1.1229494 ,  0.4435705 ,  1.46239656,
         0.99602372,  1.70664355,  1.51811257]),
 array([1.71397813, 0.7240521 , 1.38423124, 1.02310891, 0.86467413,
        2.37942101, 1.9380588 , 0.45678299, 1.95340035, 2.10844466,
        2.70837942, 3.10312844, 2.53199164, 1.53054807, 1.38713552,
        1.20673858, 1.3844558 , 1.57565391, 2.12247875, 1.83370715,
        2.19095065, 0.95467147, 1.2390763 , 1.67662263, 0.83451696,
        1.92428143, 2.04132606, 1.96817913]),
 array([0.19640174, 0.34130519, 0.51175088, 0.97950146, 0.18898783,
        1.03995241, 1.50649324, 0.81698994, 0.19294809, 0.43646507,
        0.94799442, 0.40501565, 0.58759588, 0.32510198, 0.17061187,
        0.31329449, 0.5278951 , 0.61224902, 0.76083204, 0.49098204,
        0.25466411, 0.46549546, 0.61942813, 0.51527835, 0.61249456,
        0.87080639, 0.49098204, 0.00238027]),
 array([ 0.03981746,  0.01553939,  0.1040935 , -0.02415975,  1.47936435,
         0.85783015,  1.07284196,  1.24824921,  1.26045477,  1.18456467,
         1.06382376,  1.25479369,  1.04265251,  1.36883023,  1.37675086,
         1.5740058 ,  1.2777772 ,  1.57136015,  1.77797071,  1.26367321,
         1.45366928,  1.49555979,  1.53894516,  1.45193234,  1.68759043,
         1.29244193,  1.26367321,  1.45366928]),
 array([ 0.08528794,  0.0477481 ,  0.17194954,  0.26234989,  0.26077709,
         0.06210171,  0.02650066,  0.37509871,  0.44446834,  0.37263432,
         0.44424381, -0.05349034,  0.63050971,  0.01055291,  0.19224819,
         0.52899544,  0.35367378,  0.32438103,  0.12402458,  0.08284049,
         0.22445764,  0.21563018,  0.15614619,  0.27258861,  0.16923182,
         0.13499952,  0.08284049,  0.00488745]),
 array([0.46799807, 1.22421299, 0.33286897, 1.22701381, 1.73708748,
        1.03356234, 0.80745217, 0.49526833, 1.11925288, 0.97546689,
        1.07955443, 1.66756326, 0.56080698, 1.05837276, 1.34136189,
        1.04108008, 0.75183934, 1.35383733, 1.85098456, 0.966508  ,
        0.52199014, 1.02805109, 1.17737613, 0.91688202, 0.74858872,
        1.05616899, 1.07208326, 1.13189053]),
 array([4.55319779, 2.78929108, 3.38886323, 4.81284206, 4.15083482,
        4.04585859, 4.2287011 , 3.43240326, 3.71399258, 3.41874746,
        3.99715507, 4.14498557, 5.26456968, 5.50812684, 4.00972904,
        3.7381477 , 2.90149603, 4.3303359 , 2.71450975, 4.16329984,
        3.03693312, 3.45397837, 3.55152347, 3.66735588, 4.41591071,
        3.08654091, 3.66306319, 4.53691179]),
 array([2.08263724, 2.49630576, 1.50617428, 2.22992611, 1.55538288,
        1.31550955, 1.12912545, 2.92744044, 2.73401972, 3.08320687,
        2.25526137, 1.39863074, 2.95761752, 3.79519394, 2.44517584,
        1.15336204, 3.9803808 , 2.71891381, 2.19554362, 2.25975163,
        1.32123168, 1.51115291, 2.16649884, 1.9453952 , 3.04622164,
        1.43645221, 3.63322857, 1.29836601]),
 array([0.86030052, 0.85949618, 0.39156644, 1.34831787, 1.93872136,
        0.89549064, 1.15690369, 1.27500784, 0.70341793, 0.97137992,
        0.90233108, 2.00036107, 1.55591146, 1.42730553, 1.67241471,
        0.39908327, 0.86552534, 2.02764864, 1.20684881, 1.66069391,
        1.53186543, 2.09509106, 0.50949436, 0.91597655, 1.72009737,
        1.38863621, 1.66069391, 2.28298117]),
 array([1.04906427, 0.30158222, 1.18278399, 0.8345292 , 0.83842714,
        0.73695054, 0.87242239, 1.01665328, 1.09285354, 0.53876304,
        0.82510922, 0.8569535 , 0.8892158 , 1.16456514, 0.58270861,
        1.02837471, 1.09869972, 0.70121847, 1.01644701, 1.28333182,
        0.85664345, 0.83325096, 0.84664793, 0.99753682, 1.22671854,
        0.6868879 , 1.19790892, 0.84629516]),
 array([ 0.26816894,  0.1739541 , -0.02163531, -0.01708693,  1.25319696,
         1.31758853,  1.0567696 ,  1.70831859,  1.01154838,  1.02078696,
         0.6284767 ,  0.89679082,  0.86801606,  1.12681161,  0.98515447,
         0.49323964,  0.94216473,  0.50505671,  0.76965487,  1.29871402,
         0.91565884,  1.52069258,  0.93041199,  0.8378965 ,  0.5960398 ,
         0.9126941 ,  1.20670483,  1.02363808]),
 array([ 0.93321535,  1.35047197,  0.49962642,  1.31240551,  0.75330085,
         1.45336802,  0.6946806 ,  1.83414847,  1.94876476,  0.63967477,
         0.20742334,  1.87894307,  1.1676869 ,  1.37164825,  0.57302697,
         0.92957798,  0.18927041, -0.02660355,  0.68605728,  1.47945836,
         1.93823973,  0.27876273,  0.5952368 ,  0.15358541,  0.58692383,
         1.10963065,  1.47945836,  1.37658735]),
 array([11.64373155,  9.32439216,  7.57692904,  8.63243685, 17.51425537,
        13.90022576, 11.63747755, 10.08529268,  9.06330632, 10.75141071,
         9.47174004, 10.17331381, 15.35141345, 11.17314395,  9.86527717,
         6.81636822,  6.24494189,  9.18999794, 14.93280244, 11.13147887,
         8.66953365,  8.41696665,  9.64996417,  9.20660618,  5.94639188,
        13.3457314 , 19.91059546, 14.60692937]),
 array([ 8.01450695,  5.47906045,  5.48137036,  4.14770221, 11.46173364,
         8.97534287,  9.27666043,  4.96216872,  7.21049731,  0.7881925 ,
         1.86151327,  7.42917344, 10.86632836,  7.77514549,  8.07775038,
         6.8783029 ,  0.95573222,  1.26292643,  3.60492523,  8.6668796 ,
         6.25095137,  0.07103806,  4.60034116,  3.69758607,  3.45436925,
         1.22224592,  7.46394949,  5.76633071]),
 array([0.72534232, 0.9770982 , 1.09512579, 1.60422372, 1.33709015,
        2.01916382, 2.57172408, 0.45268826, 1.06855606, 1.03097174,
        1.16840776, 0.82902993, 1.63550095, 1.41345698, 1.98402168,
        1.50935005, 0.65129177, 1.8104412 , 2.07821906, 1.64722985,
        1.24910142, 0.52995854, 1.05375741, 0.67590496, 1.32173235,
        1.77071246, 1.93394591, 1.65153777]),
 array([ 0.90557635,  0.5208049 ,  3.10095639,  3.74366595,  5.5539031 ,
         6.65249469,  5.37156171,  7.81618568,  2.80698124,  2.66005311,
         2.70704473,  0.748277  ,  1.2390158 ,  4.55391458,  6.22280737,
        13.00981339,  5.93811017, 11.7491591 ,  9.53106293,  9.84762891,
         4.47738864,  5.64934387,  4.42185121,  5.69130116,  6.88197515,
         7.83550602,  9.84762891,  9.70299485]),
 array([ 0.00226182, -0.06417375, -0.03720015,  0.14229048, -0.05105525,
        -0.04831335, -0.03674541, -0.07130572, -0.05466986,  0.12076164,
         0.068371  , -0.02903261,  0.05249959, -0.04638165, -0.01883429,
        -0.09162636,  0.0937362 ,  0.00725839, -0.10717052,  0.02880435,
         0.0936563 ,  0.00730014,  0.02996686,  0.05812907,  0.25289982,
         0.00352322,  0.04579562,  0.0936563 ]),
 array([ 1.9876816 ,  1.68238223,  1.31586246,  0.24878876,  0.08692453,
         0.35851479,  0.10915502,  0.07992052,  0.04929266,  0.0130998 ,
        -0.05295966,  0.12944074,  0.52819467,  0.12330835, -0.1139103 ,
        -0.0120411 , -0.01202505,  0.14524795, -0.04860016,  0.10137619,
         0.07844089,  0.01920896,  0.04536604, -0.02001489,  0.19320535,
         0.08641051,  1.77812011,  0.07844089]),
 array([ 0.39956717,  1.14189111,  0.26827259,  0.70692455,  0.78602035,
         0.48729422,  0.32395491,  0.07815218,  0.17123708,  0.0547627 ,
        -0.02011744,  0.56612547,  0.5109911 ,  0.28336863,  0.57475231,
         0.61202689,  0.30899751,  0.73590393,  0.99696755,  0.86970636,
         0.55510378,  0.39671485,  0.66590708,  0.57528249,  0.78974155,
         1.06752467,  0.86970636,  0.87206241]),
 array([0.37145478, 0.39747388, 0.55829692, 0.08007709, 0.66769881,
        1.42581824, 0.52185891, 0.29758725, 0.73506215, 0.39810227,
        0.64609063, 0.3861314 , 1.38533703, 0.32145761, 0.88186287,
        1.00366422, 0.50429186, 0.23584437, 1.1416665 , 0.9558762 ,
        0.56619249, 1.04999893, 0.44899773, 0.65469693, 0.23936021,
        0.26543195, 0.69688588, 0.56619249]),
 array([0.2541928 , 0.65958552, 0.50510883, 0.367932  , 0.99243617,
        1.02427528, 0.64725761, 0.13587228, 0.72385882, 0.66228457,
        0.65566203, 0.20723036, 0.75917428, 0.19177925, 0.37682743,
        0.60993863, 0.80083104, 0.27652131, 0.64753914, 1.63528533,
        1.66588433, 0.1112507 , 0.43176703, 0.29881762, 1.02409491,
        1.15902269, 1.69972166, 0.63711928]),
 array([2.06463967, 1.22954874, 1.54614075, 2.81756311, 4.46477706,
        0.67850369, 4.52378183, 1.89855564, 4.72381315, 3.41957728,
        2.42352981, 2.39448284, 4.60485076, 2.90220777, 4.15855663,
        3.13236137, 1.89091066, 1.91257687, 4.91942844, 4.3306865 ,
        3.30038888, 1.9978219 , 2.44717829, 1.05085499, 1.27233159,
        2.99566399, 2.05057179, 3.60958417]),
 array([-0.09107791,  0.17916491, -0.05071162, -0.00911624, -0.04881242,
        -0.1698572 , -0.18036773,  0.41550659, -0.10489077,  0.11069343,
         0.14235252,  0.28769691,  0.00275335,  0.05368492,  0.22576654,
         0.1045327 ,  0.31349688,  0.09392141, -0.15508223,  1.62130043,
         2.42865001,  1.39260649,  0.92358596,  0.91416442,  1.27044201,
         1.21361096,  2.37290187,  0.08466554]),
 array([ 0.25513329,  0.8291556 ,  0.3363262 ,  0.3984098 ,  0.39938398,
        -0.04814757,  0.21905012,  0.14207916,  0.18311893, -0.02144888,
         0.1414691 ,  0.43895795,  0.24914474,  0.17586329,  0.05257889,
         0.33738016,  0.09774592,  0.33613056,  0.56192742,  0.17942475,
         0.14307839,  0.05768604,  0.07569628,  0.13073187,  0.03051366,
         0.35477292,  0.17942475,  0.14307839]),
 array([0.70275997, 0.52680764, 0.55702457, 0.50718447, 1.67801441,
        0.80524608, 1.10495458, 1.06921503, 0.72847505, 0.69089697,
        0.55230718, 1.13734561, 0.53785152, 0.92964577, 1.07022468,
        0.63816821, 0.84033516, 0.87500491, 1.74337674, 0.72070869,
        0.98981684, 0.98851683, 0.87955643, 1.26426635, 1.28542251,
        1.79298684, 1.18145514, 1.15877643]),
 array([1.00740945, 0.8518236 , 0.59910157, 1.07864353, 0.61759269,
        1.76199217, 1.46606338, 0.72417585, 1.16193258, 1.83113225,
        0.74985252, 1.73967366, 1.17455805, 1.27053086, 1.39484757,
        0.63535166, 0.72827149, 0.545804  , 1.22530997, 0.77554898,
        1.58683031, 1.03886502, 1.48987492, 1.25351865, 0.77354049,
        1.44035494, 1.15880529, 1.59293312]),
 array([ 1.36917435,  0.46962332, -0.01334808,  0.48505994, -0.44624951,
         4.4601742 ,  1.40882567,  4.7189805 ,  5.1026428 ,  0.60077173,
         1.69672363,  2.73238215,  7.43567005,  4.99377977,  2.74734245,
         2.22684672,  0.93987947,  2.32013255,  1.12790709,  0.45282487,
         0.05445959,  0.18923248,  4.2933445 ,  3.55138492,  6.58424251,
         4.38875136,  4.96564325,  4.37225214]),
 array([0.41794305, 0.82900439, 1.61891639, 0.89103196, 0.39644607,
        0.68177012, 2.03206538, 0.6696771 , 1.35569007, 0.81002144,
        1.26526361, 0.7940692 , 0.5269129 , 0.95889301, 0.9508599 ,
        1.01016694, 1.07862934, 0.83401532, 1.61911601, 1.09323936,
        1.70850167, 1.28069429, 1.0871025 , 1.29223451, 0.55374565,
        0.85997165, 0.83524379, 0.86361424]),
 array([0.01397859, 0.57286164, 0.45289653, 0.67481426, 0.007283  ,
        0.64180126, 0.39506921, 0.1014278 , 0.59076207, 0.46340488,
        0.20205744, 0.49435417, 0.31478424, 0.17257261, 0.31959768,
        0.58585136, 0.11260156, 0.93326421, 0.32095874, 0.42544835,
        0.70018357, 0.1529961 , 0.59523374, 0.45432363, 0.71305518,
        0.47937235, 0.42544835, 0.70018357]),
 array([1.56322315, 1.17256407, 1.33093856, 0.09057132, 0.04806304,
        2.09802238, 0.72386643, 1.83923443, 0.94977357, 0.66616164,
        0.6646411 , 1.18407311, 1.15031546, 0.33263278, 1.17842632,
        1.86966601, 1.5980146 , 2.73346645, 2.65063869, 2.52270912,
        0.86299469, 1.56836603, 1.06999497, 1.39720207, 2.8470967 ,
        1.60519922, 1.56194969, 1.72688003]),
 array([1.42828283, 1.36898241, 1.55889561, 1.66145778, 0.80719065,
        2.75790812, 4.29853248, 2.15642527, 1.206832  , 0.92440422,
        0.88208318, 1.8888381 , 2.16435004, 1.03948005, 1.86409804,
        1.64729856, 1.41408758, 2.01581635, 2.44206979, 3.36035497,
        3.83767395, 0.77956383, 1.64055251, 1.85151251, 3.863986  ,
        2.4629616 , 2.77907093, 4.41815771]),
 array([2.35194047, 1.72190995, 1.09100425, 1.66339773, 2.17308403,
        2.52007713, 2.60968954, 1.34139669, 1.54105504, 1.23120939,
        1.68977251, 1.47050867, 2.63972777, 2.39028835, 0.94855339,
        0.94366477, 1.84149805, 0.88657497, 1.77962633, 5.02453426,
        1.73382401, 1.47105415, 0.96055756, 1.80488897, 1.01847671,
        2.28485053, 2.18525415, 1.16892074]),
 array([0.17866793, 0.26094683, 0.17372259, 0.1970382 , 0.50394052,
        0.67420278, 0.74253695, 0.62631907, 0.96093273, 0.27647885,
        1.08977729, 0.56953039, 0.83571964, 0.5800645 , 0.15976614,
        0.49043206, 0.54941741, 0.9639072 , 0.60159104, 0.62908243,
        0.58053927, 0.47203011, 0.39084504, 0.51864571, 0.70797395,
        0.31436923, 0.79657103, 0.58053927]),
 array([1.0111808 , 0.45750518, 0.62023906, 0.88201473, 0.85568918,
        0.56781705, 1.59293399, 0.84478249, 1.16856949, 0.87913599,
        1.73935938, 0.57726162, 0.66076851, 0.78304207, 0.49976863,
        0.38519083, 1.10124457, 0.06746056, 0.62379918, 0.81297353,
        0.86428498, 0.88546614, 0.18622898, 0.48786429, 0.34225155,
        1.62843479, 1.35448308, 0.84576309]),
 array([ 2.02750089,  1.14287595,  2.47801529,  2.26072419,  7.15109658,
         4.55955329,  4.66844685,  3.66256785,  3.30343973,  4.37259098,
         2.74544373,  5.50065515,  3.04050934,  5.05987565,  4.50669815,
         0.27297009,  0.18323825,  4.01789838,  0.56083244,  1.31743437,
        -0.39140146,  0.04651847,  2.12972285,  3.12634688,  5.88981796,
         3.33715909,  6.00411047,  3.4866912 ]),
 array([0.9396627 , 0.91423025, 1.0741312 , 1.93101734, 1.2069806 ,
        0.48028809, 0.15132889, 0.34785069, 1.54454677, 0.54416021,
        0.44240676, 0.85468958, 1.83194752, 1.37484286, 1.76370991,
        0.92761615, 1.32539886, 1.23578334, 1.35866406, 1.40792946,
        1.90018409, 0.69086223, 1.22949966, 1.35463276, 1.21170045,
        0.6390806 , 1.47663851, 1.29247817]),
 array([3.22224147, 4.79776138, 4.80103885, 5.19882247, 3.41160892,
        4.17984103, 3.26990779, 3.56816254, 1.50519948, 5.46392274,
        3.78290066, 4.82549206, 3.06604202, 6.38290873, 3.47478623,
        2.70202286, 3.26707743, 3.99502328, 1.90928948, 3.39082274,
        3.48483382, 3.17920166, 5.18140318, 5.12518714, 2.31941251,
        2.92549599, 3.27213925, 2.65021282]),
 array([-0.5356708 , -0.37440686, -0.43605971, -0.14048189,  2.38669378,
         2.45425028,  5.45120185,  3.08102346,  0.81573278,  0.95291482,
         1.95492892,  2.01028644,  1.44008712,  9.34483714,  1.76935319,
         1.34376204,  2.63735881,  1.48676218,  1.95504199,  3.41215559,
         9.70070075,  3.21148094,  3.19306635,  3.34945197,  2.67438263,
         4.12477679,  3.41215559,  9.70070075]),
 array([0.15157781, 0.19009312, 0.24384721, 0.35772943, 0.52419665,
        0.31510944, 0.48730171, 0.46028708, 0.62319778, 0.76620265,
        0.42500991, 0.47090853, 0.64637903, 0.74381469, 0.62816153,
        0.84027236, 0.85833615, 0.58670088, 2.03766364, 0.49327376,
        2.0100261 , 1.57693032, 1.11038157, 1.32370866, 0.65451095,
        1.68128068, 1.47503793, 0.85044617]),
 array([0.73351788, 2.16557678, 1.64452364, 1.63596682, 2.40500495,
        3.60197809, 0.60115782, 1.44861186, 0.69336886, 0.9087278 ,
        1.69773599, 2.60159598, 1.90751347, 1.47842275, 0.19897206,
        1.4365295 , 1.56138385, 1.71157812, 1.05560013, 3.08872324,
        1.26530324, 1.2112175 , 4.07118222, 3.90336977, 3.86330904,
        4.71193703, 7.18105958, 3.84588555]),
 array([ 9.43940444,  7.27335522,  6.09192418,  5.04705106, 14.64236354,
        13.97578261,  9.22693725, 10.17050188,  6.59456111,  8.20137156,
         5.3453129 ,  7.76336462, 10.77813256,  9.97765639,  7.56930035,
         7.38993365,  1.65966942,  5.82902632,  5.75321615,  3.03258882,
         7.69765397,  6.7902019 ,  7.72892857,  7.2535445 ,  7.09040213,
        11.0439517 , 10.27735326,  7.94709287]),
 array([1.19731436, 1.02620647, 1.00628008, 1.12442104, 0.91975384,
        0.94465844, 0.68055393, 0.53601083, 2.15942381, 1.04288986,
        0.34298014, 2.00687701, 0.88630058, 0.34277993, 1.75792818,
        1.79711818, 1.41173938, 0.74392481, 1.46604267, 1.80175371,
        0.52205164, 1.11156395, 1.18900496, 1.33241573, 1.27151398,
        0.98402576, 1.31756292, 0.65840339]),
 array([0.43019767, 0.6202906 , 0.08428431, 0.47172878, 0.41416613,
        0.88177459, 0.18524678, 0.20004392, 0.77698714, 0.14809767,
        0.07592485, 0.47448057, 0.74826612, 0.22722155, 0.08072585,
        0.24434574, 0.22954521, 0.3754317 , 0.39767192, 0.6376736 ,
        0.1412156 , 0.36588676, 0.27124163, 0.07562507, 0.21309868,
        0.13978359, 0.6376736 , 0.23941833]),
 array([0.64870839, 0.7536103 , 0.88054396, 1.13698843, 0.88765404,
        1.65475236, 5.46602417, 0.7886419 , 0.98307142, 0.41408387,
        1.90065197, 0.78179805, 2.11841143, 2.09603273, 0.24190809,
        0.38076305, 0.30233436, 1.02311496, 1.00969874, 1.74444889,
        0.63345953, 0.45277144, 0.82829998, 0.56478885, 1.3353517 ,
        0.8063948 , 1.74444889, 0.79169762]),
 array([0.71325836, 0.95105862, 0.6188568 , 0.63490379, 0.33388673,
        1.03381818, 0.07824324, 0.36747321, 0.98565376, 0.84203338,
        0.38423425, 0.560354  , 0.48387432, 1.37611006, 0.26858024,
        1.07817627, 0.7589527 , 0.46563224, 0.23213206, 0.71098555,
        0.69536641, 0.1868662 , 1.03557688, 0.28081075, 0.0918461 ,
        0.69132519, 0.71098555, 0.69536641]),
 array([0.94842724, 0.36263464, 1.32392978, 0.51461838, 0.90268922,
        0.69925706, 0.97858673, 0.54614143, 1.08230879, 0.23615895,
        0.79924209, 0.76400745, 0.4051584 , 1.5531142 , 0.18728372,
        1.10650043, 0.90276238, 0.67944925, 0.53523051, 1.20117064,
        1.36950005, 1.11417468, 1.7514258 , 1.05042598, 0.94869437,
        0.80493202, 1.1120934 , 1.84447698]),
 array([0.4689488 , 0.92910268, 1.28278316, 1.72134538, 1.47924267,
        1.07793425, 1.41194106, 1.49567296, 0.48881752, 0.87903682,

In [190]:
trues

[date
 2016-03-28    2
 2016-03-29    1
 2016-03-30    1
 2016-03-31    0
 2016-04-01    4
 2016-04-02    0
 2016-04-03    0
 2016-04-04    4
 2016-04-05    1
 2016-04-06    3
 2016-04-07    0
 2016-04-08    1
 2016-04-09    0
 2016-04-10    2
 2016-04-11    2
 2016-04-12    0
 2016-04-13    1
 2016-04-14    1
 2016-04-15    0
 2016-04-16    2
 2016-04-17    0
 2016-04-18    4
 2016-04-19    1
 2016-04-20    1
 2016-04-21    0
 2016-04-22    1
 2016-04-23    1
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    1
 2016-03-30    0
 2016-03-31    0
 2016-04-01    0
 2016-04-02    0
 2016-04-03    0
 2016-04-04    0
 2016-04-05    0
 2016-04-06    1
 2016-04-07    0
 2016-04-08    0
 2016-04-09    0
 2016-04-10    0
 2016-04-11    1
 2016-04-12    0
 2016-04-13    0
 2016-04-14    1
 2016-04-15    1
 2016-04-16    3
 2016-04-17    1
 2016-04-18    0
 2016-04-19    0
 2016-04-20    1
 2016-04-21    2
 2016-04-22    0
 2016-04-23    0
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    4
 2016-03-29    0
 2016-03-30    0
 2016-03-31    1
 2016-04-01    1
 2016-04-02    0
 2016-04-03    0
 2016-04-04    1
 2016-04-05    0
 2016-04-06    1
 2016-04-07    1
 2016-04-08    0
 2016-04-09    1
 2016-04-10    0
 2016-04-11    0
 2016-04-12    1
 2016-04-13    2
 2016-04-14    0
 2016-04-15    3
 2016-04-16    0
 2016-04-17    2
 2016-04-18    1
 2016-04-19    1
 2016-04-20    0
 2016-04-21    1
 2016-04-22    0
 2016-04-23    1
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    0
 2016-03-31    0
 2016-04-01    0
 2016-04-02    0
 2016-04-03    0
 2016-04-04    0
 2016-04-05    0
 2016-04-06    0
 2016-04-07    0
 2016-04-08    0
 2016-04-09    0
 2016-04-10    0
 2016-04-11    0
 2016-04-12    0
 2016-04-13    0
 2016-04-14    0
 2016-04-15    0
 2016-04-16    0
 2016-04-17    0
 2016-04-18    0
 2016-04-19    0
 2016-04-20    0
 2016-04-21    0
 2016-04-22    0
 2016-04-23    0
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    1
 2016-03-29    1
 2016-03-30    0
 2016-03-31    0
 2016-04-01    3
 2016-04-02    0
 2016-04-03    0
 2016-04-04    2
 2016-04-05    0
 2016-04-06    0
 2016-04-07    3
 2016-04-08    0
 2016-04-09    2
 2016-04-10    0
 2016-04-11    2
 2016-04-12    0
 2016-04-13    1
 2016-04-14    2
 2016-04-15    3
 2016-04-16    1
 2016-04-17    1
 2016-04-18    2
 2016-04-19    0
 2016-04-20    2
 2016-04-21    2
 2016-04-22    1
 2016-04-23    4
 2016-04-24    1
 Name: sales, dtype: int64,
 date
 2016-03-28    3
 2016-03-29    0
 2016-03-30    2
 2016-03-31    3
 2016-04-01    1
 2016-04-02    1
 2016-04-03    2
 2016-04-04    1
 2016-04-05    2
 2016-04-06    8
 2016-04-07    3
 2016-04-08    2
 2016-04-09    3
 2016-04-10    0
 2016-04-11    0
 2016-04-12    0
 2016-04-13    0
 2016-04-14    2
 2016-04-15    1
 2016-04-16    3
 2016-04-17    1
 2016-04-18    0
 2016-04-19    2
 2016-04-20    1
 2016-04-21    2
 2016-04-22    3
 2016-04-23    2
 2016-04-24    2
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    0
 2016-03-31    0
 2016-04-01    1
 2016-04-02    1
 2016-04-03    0
 2016-04-04    0
 2016-04-05    0
 2016-04-06    0
 2016-04-07    0
 2016-04-08    0
 2016-04-09    0
 2016-04-10    1
 2016-04-11    0
 2016-04-12    0
 2016-04-13    0
 2016-04-14    0
 2016-04-15    0
 2016-04-16    1
 2016-04-17    0
 2016-04-18    0
 2016-04-19    0
 2016-04-20    0
 2016-04-21    0
 2016-04-22    0
 2016-04-23    0
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    0
 2016-03-31    0
 2016-04-01    0
 2016-04-02    0
 2016-04-03    0
 2016-04-04    0
 2016-04-05    0
 2016-04-06    0
 2016-04-07    0
 2016-04-08    0
 2016-04-09    0
 2016-04-10    0
 2016-04-11    0
 2016-04-12    0
 2016-04-13    0
 2016-04-14    0
 2016-04-15    0
 2016-04-16    0
 2016-04-17    0
 2016-04-18    0
 2016-04-19    0
 2016-04-20    0
 2016-04-21    0
 2016-04-22    0
 2016-04-23    0
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    0
 2016-03-31    0
 2016-04-01    0
 2016-04-02    0
 2016-04-03    1
 2016-04-04    0
 2016-04-05    1
 2016-04-06    3
 2016-04-07    0
 2016-04-08    0
 2016-04-09    0
 2016-04-10    0
 2016-04-11    0
 2016-04-12    0
 2016-04-13    0
 2016-04-14    0
 2016-04-15    0
 2016-04-16    0
 2016-04-17    0
 2016-04-18    0
 2016-04-19    0
 2016-04-20    0
 2016-04-21    0
 2016-04-22    0
 2016-04-23    2
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    2
 2016-03-29    3
 2016-03-30    4
 2016-03-31    1
 2016-04-01    1
 2016-04-02    2
 2016-04-03    2
 2016-04-04    0
 2016-04-05    1
 2016-04-06    0
 2016-04-07    1
 2016-04-08    0
 2016-04-09    1
 2016-04-10    0
 2016-04-11    1
 2016-04-12    2
 2016-04-13    0
 2016-04-14    0
 2016-04-15    0
 2016-04-16    2
 2016-04-17    0
 2016-04-18    1
 2016-04-19    3
 2016-04-20    2
 2016-04-21    3
 2016-04-22    1
 2016-04-23    0
 2016-04-24    1
 Name: sales, dtype: int64,
 date
 2016-03-28    7
 2016-03-29    2
 2016-03-30    2
 2016-03-31    2
 2016-04-01    0
 2016-04-02    2
 2016-04-03    0
 2016-04-04    4
 2016-04-05    3
 2016-04-06    5
 2016-04-07    4
 2016-04-08    1
 2016-04-09    5
 2016-04-10    1
 2016-04-11    3
 2016-04-12    1
 2016-04-13    2
 2016-04-14    0
 2016-04-15    1
 2016-04-16    0
 2016-04-17    6
 2016-04-18    5
 2016-04-19    2
 2016-04-20    2
 2016-04-21    5
 2016-04-22    6
 2016-04-23    2
 2016-04-24    4
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    0
 2016-03-31    0
 2016-04-01    0
 2016-04-02    0
 2016-04-03    2
 2016-04-04    3
 2016-04-05    5
 2016-04-06    2
 2016-04-07    0
 2016-04-08    8
 2016-04-09    4
 2016-04-10    3
 2016-04-11    0
 2016-04-12    6
 2016-04-13    6
 2016-04-14    3
 2016-04-15    2
 2016-04-16    0
 2016-04-17    3
 2016-04-18    1
 2016-04-19    1
 2016-04-20    4
 2016-04-21    1
 2016-04-22    4
 2016-04-23    9
 2016-04-24    1
 Name: sales, dtype: int64,
 date
 2016-03-28    1
 2016-03-29    0
 2016-03-30    2
 2016-03-31    0
 2016-04-01    2
 2016-04-02    2
 2016-04-03    1
 2016-04-04    1
 2016-04-05    1
 2016-04-06    1
 2016-04-07    0
 2016-04-08    1
 2016-04-09    2
 2016-04-10    2
 2016-04-11    4
 2016-04-12    0
 2016-04-13    0
 2016-04-14    3
 2016-04-15    0
 2016-04-16    1
 2016-04-17    0
 2016-04-18    1
 2016-04-19    0
 2016-04-20    0
 2016-04-21    1
 2016-04-22    0
 2016-04-23    3
 2016-04-24    2
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    1
 2016-03-30    0
 2016-03-31    1
 2016-04-01    1
 2016-04-02    0
 2016-04-03    0
 2016-04-04    0
 2016-04-05    0
 2016-04-06    1
 2016-04-07    0
 2016-04-08    0
 2016-04-09    1
 2016-04-10    0
 2016-04-11    0
 2016-04-12    0
 2016-04-13    0
 2016-04-14    3
 2016-04-15    0
 2016-04-16    1
 2016-04-17    1
 2016-04-18    0
 2016-04-19    2
 2016-04-20    0
 2016-04-21    1
 2016-04-22    2
 2016-04-23    2
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    0
 2016-03-31    0
 2016-04-01    0
 2016-04-02    0
 2016-04-03    0
 2016-04-04    0
 2016-04-05    0
 2016-04-06    0
 2016-04-07    0
 2016-04-08    0
 2016-04-09    0
 2016-04-10    0
 2016-04-11    0
 2016-04-12    0
 2016-04-13    0
 2016-04-14    0
 2016-04-15    0
 2016-04-16    0
 2016-04-17    0
 2016-04-18    0
 2016-04-19    0
 2016-04-20    0
 2016-04-21    1
 2016-04-22    1
 2016-04-23    2
 2016-04-24    1
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    1
 2016-03-30    0
 2016-03-31    0
 2016-04-01    1
 2016-04-02    1
 2016-04-03    1
 2016-04-04    0
 2016-04-05    0
 2016-04-06    0
 2016-04-07    2
 2016-04-08    1
 2016-04-09    2
 2016-04-10    1
 2016-04-11    1
 2016-04-12    0
 2016-04-13    1
 2016-04-14    0
 2016-04-15    2
 2016-04-16    2
 2016-04-17    0
 2016-04-18    1
 2016-04-19    0
 2016-04-20    0
 2016-04-21    1
 2016-04-22    2
 2016-04-23    1
 2016-04-24    4
 Name: sales, dtype: int64,
 date
 2016-03-28     6
 2016-03-29     4
 2016-03-30     5
 2016-03-31    15
 2016-04-01    17
 2016-04-02    16
 2016-04-03    16
 2016-04-04     3
 2016-04-05     5
 2016-04-06     4
 2016-04-07     2
 2016-04-08    11
 2016-04-09     5
 2016-04-10     5
 2016-04-11     3
 2016-04-12     2
 2016-04-13     5
 2016-04-14    11
 2016-04-15     4
 2016-04-16     7
 2016-04-17     6
 2016-04-18     6
 2016-04-19     5
 2016-04-20     1
 2016-04-21     9
 2016-04-22    25
 2016-04-23    22
 2016-04-24    13
 Name: sales, dtype: int64,
 date
 2016-03-28     3
 2016-03-29     3
 2016-03-30     3
 2016-03-31    14
 2016-04-01    16
 2016-04-02     9
 2016-04-03    13
 2016-04-04     8
 2016-04-05     0
 2016-04-06     0
 2016-04-07    24
 2016-04-08     9
 2016-04-09     8
 2016-04-10     7
 2016-04-11     8
 2016-04-12     0
 2016-04-13     1
 2016-04-14     1
 2016-04-15     9
 2016-04-16    19
 2016-04-17     1
 2016-04-18     8
 2016-04-19    10
 2016-04-20    27
 2016-04-21     2
 2016-04-22     4
 2016-04-23    15
 2016-04-24    18
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    1
 2016-03-31    1
 2016-04-01    0
 2016-04-02    2
 2016-04-03    1
 2016-04-04    1
 2016-04-05    0
 2016-04-06    0
 2016-04-07    1
 2016-04-08    1
 2016-04-09    1
 2016-04-10    2
 2016-04-11    0
 2016-04-12    1
 2016-04-13    3
 2016-04-14    3
 2016-04-15    4
 2016-04-16    1
 2016-04-17    1
 2016-04-18    1
 2016-04-19    1
 2016-04-20    0
 2016-04-21    2
 2016-04-22    2
 2016-04-23    2
 2016-04-24    1
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    3
 2016-03-30    0
 2016-03-31    1
 2016-04-01    6
 2016-04-02    4
 2016-04-03    2
 2016-04-04    0
 2016-04-05    0
 2016-04-06    0
 2016-04-07    0
 2016-04-08    0
 2016-04-09    1
 2016-04-10    1
 2016-04-11    1
 2016-04-12    0
 2016-04-13    4
 2016-04-14    3
 2016-04-15    2
 2016-04-16    0
 2016-04-17    0
 2016-04-18    0
 2016-04-19    0
 2016-04-20    0
 2016-04-21    4
 2016-04-22    2
 2016-04-23    3
 2016-04-24    3
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    0
 2016-03-31    0
 2016-04-01    0
 2016-04-02    0
 2016-04-03    0
 2016-04-04    0
 2016-04-05    0
 2016-04-06    0
 2016-04-07    0
 2016-04-08    1
 2016-04-09    0
 2016-04-10    0
 2016-04-11    0
 2016-04-12    0
 2016-04-13    0
 2016-04-14    0
 2016-04-15    1
 2016-04-16    0
 2016-04-17    0
 2016-04-18    0
 2016-04-19    0
 2016-04-20    0
 2016-04-21    0
 2016-04-22    0
 2016-04-23    0
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    4
 2016-03-29    1
 2016-03-30    0
 2016-03-31    0
 2016-04-01    0
 2016-04-02    0
 2016-04-03    0
 2016-04-04    0
 2016-04-05    0
 2016-04-06    0
 2016-04-07    0
 2016-04-08    0
 2016-04-09    0
 2016-04-10    0
 2016-04-11    0
 2016-04-12    0
 2016-04-13    0
 2016-04-14    0
 2016-04-15    0
 2016-04-16    0
 2016-04-17    0
 2016-04-18    0
 2016-04-19    0
 2016-04-20    0
 2016-04-21    0
 2016-04-22    3
 2016-04-23    0
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    1
 2016-03-29    0
 2016-03-30    0
 2016-03-31    0
 2016-04-01    0
 2016-04-02    0
 2016-04-03    0
 2016-04-04    0
 2016-04-05    0
 2016-04-06    0
 2016-04-07    0
 2016-04-08    0
 2016-04-09    0
 2016-04-10    0
 2016-04-11    0
 2016-04-12    0
 2016-04-13    0
 2016-04-14    0
 2016-04-15    0
 2016-04-16    0
 2016-04-17    0
 2016-04-18    0
 2016-04-19    0
 2016-04-20    0
 2016-04-21    0
 2016-04-22    0
 2016-04-23    1
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    0
 2016-03-31    0
 2016-04-01    1
 2016-04-02    0
 2016-04-03    0
 2016-04-04    0
 2016-04-05    2
 2016-04-06    2
 2016-04-07    0
 2016-04-08    1
 2016-04-09    0
 2016-04-10    1
 2016-04-11    1
 2016-04-12    0
 2016-04-13    0
 2016-04-14    0
 2016-04-15    1
 2016-04-16    1
 2016-04-17    2
 2016-04-18    3
 2016-04-19    1
 2016-04-20    0
 2016-04-21    0
 2016-04-22    2
 2016-04-23    1
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    0
 2016-03-31    0
 2016-04-01    0
 2016-04-02    0
 2016-04-03    0
 2016-04-04    0
 2016-04-05    0
 2016-04-06    0
 2016-04-07    0
 2016-04-08    0
 2016-04-09    0
 2016-04-10    1
 2016-04-11    0
 2016-04-12    1
 2016-04-13    0
 2016-04-14    0
 2016-04-15    4
 2016-04-16    4
 2016-04-17    0
 2016-04-18    2
 2016-04-19    0
 2016-04-20    1
 2016-04-21    3
 2016-04-22    1
 2016-04-23    1
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    3
 2016-03-31    3
 2016-04-01    0
 2016-04-02    4
 2016-04-03    2
 2016-04-04    4
 2016-04-05    3
 2016-04-06    1
 2016-04-07    2
 2016-04-08    5
 2016-04-09    6
 2016-04-10    4
 2016-04-11    3
 2016-04-12    1
 2016-04-13    2
 2016-04-14    4
 2016-04-15    5
 2016-04-16    4
 2016-04-17    2
 2016-04-18    3
 2016-04-19    1
 2016-04-20    0
 2016-04-21    2
 2016-04-22    1
 2016-04-23    3
 2016-04-24    3
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    0
 2016-03-31    0
 2016-04-01    0
 2016-04-02    0
 2016-04-03    0
 2016-04-04    0
 2016-04-05    0
 2016-04-06    0
 2016-04-07    0
 2016-04-08    0
 2016-04-09    0
 2016-04-10    0
 2016-04-11    0
 2016-04-12    0
 2016-04-13    0
 2016-04-14    0
 2016-04-15    1
 2016-04-16    5
 2016-04-17    4
 2016-04-18    2
 2016-04-19    1
 2016-04-20    1
 2016-04-21    1
 2016-04-22    3
 2016-04-23    0
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    0
 2016-03-31    1
 2016-04-01    1
 2016-04-02    0
 2016-04-03    0
 2016-04-04    0
 2016-04-05    2
 2016-04-06    0
 2016-04-07    0
 2016-04-08    0
 2016-04-09    1
 2016-04-10    0
 2016-04-11    0
 2016-04-12    0
 2016-04-13    0
 2016-04-14    1
 2016-04-15    0
 2016-04-16    0
 2016-04-17    0
 2016-04-18    1
 2016-04-19    0
 2016-04-20    2
 2016-04-21    0
 2016-04-22    0
 2016-04-23    0
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    0
 2016-03-31    1
 2016-04-01    0
 2016-04-02    1
 2016-04-03    1
 2016-04-04    0
 2016-04-05    0
 2016-04-06    0
 2016-04-07    0
 2016-04-08    0
 2016-04-09    0
 2016-04-10    1
 2016-04-11    0
 2016-04-12    0
 2016-04-13    0
 2016-04-14    3
 2016-04-15    0
 2016-04-16    2
 2016-04-17    0
 2016-04-18    0
 2016-04-19    1
 2016-04-20    1
 2016-04-21    2
 2016-04-22    1
 2016-04-23    1
 2016-04-24    1
 Name: sales, dtype: int64,
 date
 2016-03-28    1
 2016-03-29    2
 2016-03-30    1
 2016-03-31    0
 2016-04-01    0
 2016-04-02    2
 2016-04-03    1
 2016-04-04    1
 2016-04-05    1
 2016-04-06    0
 2016-04-07    0
 2016-04-08    0
 2016-04-09    0
 2016-04-10    1
 2016-04-11    0
 2016-04-12    0
 2016-04-13    1
 2016-04-14    0
 2016-04-15    1
 2016-04-16    0
 2016-04-17    0
 2016-04-18    1
 2016-04-19    0
 2016-04-20    4
 2016-04-21    0
 2016-04-22    0
 2016-04-23    4
 2016-04-24    3
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    0
 2016-03-31    0
 2016-04-01    3
 2016-04-02    0
 2016-04-03    6
 2016-04-04    2
 2016-04-05    0
 2016-04-06    0
 2016-04-07    1
 2016-04-08    6
 2016-04-09    4
 2016-04-10    0
 2016-04-11    0
 2016-04-12    0
 2016-04-13    0
 2016-04-14    0
 2016-04-15    0
 2016-04-16    0
 2016-04-17    0
 2016-04-18    2
 2016-04-19    2
 2016-04-20    4
 2016-04-21    2
 2016-04-22    3
 2016-04-23    2
 2016-04-24    3
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    1
 2016-03-30    1
 2016-03-31    0
 2016-04-01    2
 2016-04-02    1
 2016-04-03    0
 2016-04-04    2
 2016-04-05    0
 2016-04-06    1
 2016-04-07    0
 2016-04-08    0
 2016-04-09    1
 2016-04-10    2
 2016-04-11    0
 2016-04-12    0
 2016-04-13    1
 2016-04-14    1
 2016-04-15    2
 2016-04-16    0
 2016-04-17    0
 2016-04-18    1
 2016-04-19    1
 2016-04-20    2
 2016-04-21    1
 2016-04-22    0
 2016-04-23    2
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    0
 2016-03-31    0
 2016-04-01    0
 2016-04-02    0
 2016-04-03    0
 2016-04-04    2
 2016-04-05    0
 2016-04-06    0
 2016-04-07    0
 2016-04-08    0
 2016-04-09    4
 2016-04-10    0
 2016-04-11    1
 2016-04-12    0
 2016-04-13    0
 2016-04-14    0
 2016-04-15    0
 2016-04-16    0
 2016-04-17    0
 2016-04-18    0
 2016-04-19    0
 2016-04-20    0
 2016-04-21    0
 2016-04-22    0
 2016-04-23    0
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28     2
 2016-03-29     5
 2016-03-30     4
 2016-03-31     0
 2016-04-01     1
 2016-04-02     0
 2016-04-03     2
 2016-04-04     0
 2016-04-05     0
 2016-04-06     0
 2016-04-07     1
 2016-04-08     0
 2016-04-09     0
 2016-04-10     0
 2016-04-11     1
 2016-04-12     2
 2016-04-13     1
 2016-04-14     1
 2016-04-15     1
 2016-04-16     0
 2016-04-17     2
 2016-04-18     0
 2016-04-19     2
 2016-04-20     1
 2016-04-21     1
 2016-04-22     0
 2016-04-23    12
 2016-04-24     4
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    1
 2016-03-31    0
 2016-04-01    1
 2016-04-02    4
 2016-04-03    2
 2016-04-04    1
 2016-04-05    2
 2016-04-06    1
 2016-04-07    3
 2016-04-08    3
 2016-04-09    0
 2016-04-10    2
 2016-04-11    2
 2016-04-12    1
 2016-04-13    1
 2016-04-14    3
 2016-04-15    4
 2016-04-16    4
 2016-04-17    0
 2016-04-18    2
 2016-04-19    4
 2016-04-20    3
 2016-04-21    5
 2016-04-22    3
 2016-04-23    6
 2016-04-24    3
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    2
 2016-03-31    1
 2016-04-01    2
 2016-04-02    6
 2016-04-03    0
 2016-04-04    0
 2016-04-05    4
 2016-04-06    1
 2016-04-07    0
 2016-04-08    2
 2016-04-09    3
 2016-04-10    3
 2016-04-11    0
 2016-04-12    3
 2016-04-13    0
 2016-04-14    2
 2016-04-15    7
 2016-04-16    4
 2016-04-17    2
 2016-04-18    0
 2016-04-19    3
 2016-04-20    1
 2016-04-21    2
 2016-04-22    2
 2016-04-23    2
 2016-04-24    1
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    0
 2016-03-30    0
 2016-03-31    0
 2016-04-01    0
 2016-04-02    0
 2016-04-03    0
 2016-04-04    2
 2016-04-05    0
 2016-04-06    2
 2016-04-07    0
 2016-04-08    1
 2016-04-09    1
 2016-04-10    0
 2016-04-11    1
 2016-04-12    0
 2016-04-13    1
 2016-04-14    2
 2016-04-15    1
 2016-04-16    0
 2016-04-17    1
 2016-04-18    1
 2016-04-19    0
 2016-04-20    0
 2016-04-21    0
 2016-04-22    0
 2016-04-23    0
 2016-04-24    1
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    1
 2016-03-30    0
 2016-03-31    1
 2016-04-01    0
 2016-04-02    2
 2016-04-03    1
 2016-04-04    0
 2016-04-05    2
 2016-04-06    0
 2016-04-07    0
 2016-04-08    0
 2016-04-09    2
 2016-04-10    1
 2016-04-11    0
 2016-04-12    1
 2016-04-13    1
 2016-04-14    0
 2016-04-15    1
 2016-04-16    0
 2016-04-17    2
 2016-04-18    0
 2016-04-19    0
 2016-04-20    1
 2016-04-21    1
 2016-04-22    0
 2016-04-23    1
 2016-04-24    0
 Name: sales, dtype: int64,
 date
 2016-03-28    0
 2016-03-29    1
 2016-03-30    0
 2016-03-31    7
 2016-04-01    3
 2016-04-02    2
 2016-04-03    3
 2016-04-04    3
 2016-04-05    9
 2016-04-06    1
 2016-04-07    3
 2016-04-08    1
 2016-04-09    6
 2016-04-10    5
 2016-04-11    0
 2016-04-12    0
 2016-04-13    2
 2016-04-14    0
 2016-04-15    0
 2016-04-16    0
 2016-04-17    0
 2016-04-18    2
 2016-04-19    4
 2016-04-20    7
 2016-04-21    3
 2016-04-22    5
 2016-04-23    4
 2016-04-24    1
 Name: sales, dtype: int64,
 date
 2016-03-28    0

In [194]:
RMSEs = []
for i in range(216):
    RMSEs.append(mean_squared_error(trues[i], preds[i], squared=False))

In [195]:
np.mean(RMSEs)

1.635301116269365

In [196]:
importances

[array([280, 230, 220,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  58,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0, 109, 105,  93, 103,  60,
         72, 103,  36,  53,  73,  46,  67,  81,  54, 103,  40,  45,  64,
         73, 218, 614]),
 array([292, 221, 244,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  68,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  86, 101,  89, 117, 117,
         73,  64,  49,  85,  63,  61,  80,  90,  70,  72,  57,  49,  66,
         46, 360, 380]),
 array([267, 249, 229,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  87,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  63, 105,  88,  77,  81,
         62,  60,  59,  68,  55,  41, 101,  54,  46,  67,  58,  71,  30,
         63, 230, 689]),
 array([ 163,  118,  123,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          57,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,   56,   57,   96,   98,   48,   42,   37,   43,   60,   62,
          33,   78,   50,   64,   40,   35,   34,   44,   72,  304, 1186]),
 array([187, 206, 162,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  83,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  57,  90,  93,  79,  49,
         27,  60,  59,  64,  76,  52,  14,  14,  24,  49, 106, 141,  44,
         75, 373, 816]),
 array([215, 194, 205,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  51,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  91,  83,  73,  89,  60,
        104,  81,  76, 103,  72,  64,  63,  62,  56,  71,  35,  62,  35,
         30, 182, 843]),
 array([349, 231, 273,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  49,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0, 109,  68,  82, 131,  93,
         73,  67,  67,  72,  80,  39,  63,  61,  30,  33,  66,  78, 114,
        120, 323, 329]),
 array([199, 218, 197,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  54,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  57,  58, 118,  80,  53,
         66,  59,  53,  37,  63,  60,  33,  50,  69, 104,  82,  77,  44,
         68, 570, 531]),
 array([195, 197, 217,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  47,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  55,  71,  88,  58, 102,
         82,  68,  63,  51,  76,  37,  56,  55,  80,  71,  61,  53,  63,
         40, 968, 146]),
 array([230, 204, 223,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  73,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  91,  98, 113,  61,  74,
         56,  59,  60, 119, 106,  48,  40,  26,  73,  95, 110,  66,  32,
         32, 347, 564]),
 array([189, 126, 165,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  40,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  64,  48,  72,  62,  62,
         55,  49,  26,  25,  49,  30,  58,  45,  53,  43,  48,  60,  33,
         44, 723, 831]),
 array([196, 211, 203,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  57,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  88,  54,  67,  74,  79,
         53,  93,  38,  45,  78,  82,  90,  65,  73,  34,  34,  45,  43,
         37, 446, 715]),
 array([234, 214, 273,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  75,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  90,  87,  87,  99,  87,
         80,  78,  43,  41,  42,  41,  81,  64,  62,  78,  61,  40,  42,
         81,   0, 920]),
 array([222, 208, 193,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  42,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  48,  99,  68,  56,  57,
         49,  55,  41,  91,  38,  84,  45,  64,  53,  43,  64, 107,  66,
         88, 605, 514]),
 array([276, 247, 209,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  46,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  45,  84,  84,  82,  71,
         74,  74,  46,  86,  81,  49,  70,  37,  48,  60,  51,  46,  53,
         93, 222, 766]),
 array([230, 210, 226,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  59,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  88,  76,  93, 105,  77,
        142,  65,  51,  49, 138,  25,  39,  46,  61,  66,  54,  50,  76,
         71, 476, 427]),
 array([ 188,  178,  149,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          69,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,   84,   79,   94,   74,   46,   46,   40,   30,   38,   59,
          59,   37,   39,   44,   37,   58,   38,   38,   82,   54, 1340]),
 array([ 174,  200,  129,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          57,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,   66,   42,   98,   82,   59,   29,   47,   35,   35,   52,
          52,   52,   50,   27,   41,   53,   37,   39,   66,  361, 1117]),
 array([244, 228, 199,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  87,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  73,  84, 109,  84,  89,
         99,  83,  52,  68, 104,  69,  87,  59,  80,  95,  56,  45,  52,
         74, 146, 634]),
 array([ 175,  192,  177,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          41,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,   70,   78,   76,   61,   97,   79,   62,   76,   49,   68,
          56,   29,   42,   76,   37,   39,   42,   41,   52,    0, 1285]),
 array([ 187,  222,  213,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          61,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,  100,   97,   91,   75,   83,   75,   67,   58,   37,   41,
          36,   70,   41,   74,   42,   48,   40,   51,   92, 1020,   77]),
 array([200, 145, 156,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  52,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  74,  67,  67,  40,  30,
         73,  63,  34,  30,  44,  30,  52,  66,  44,  35,  48,  57,  77,
         37, 789, 690]),
 array([206, 217, 231,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  63,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  83,  72,  93,  55,  69,
         64,  94,  32,  42,  60,  64,  33,  58,  90,  57,  42,  75,  44,
         92, 331, 733]),
 array([210, 234, 246,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  70,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  79,  87,  74, 108,  85,
         71,  90,  70,  69,  59,  28,  27,  96,  59,  64,  26,  96,  77,
         63, 431, 481]),
 array([274, 257, 229,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  71,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  99,  94, 106,  96, 102,
         84,  90,  41,  59,  96,  76,  71,  57,  77,  79,  82,  60,  75,
         90, 143, 492]),
 array([169, 235, 176,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  52,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  67,  60,  80,  81,  43,
         69,  60,  74,  74,  72,  59,  62,  29,  74,  41,  40,  47,  49,
         67, 273, 947]),
 array([215, 205, 193,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  70,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  93, 100,  49,  74,  55,
         80,  65,  67,  64,  19,  13,  56, 114, 101, 112,  15,  16,  15,
         97, 521, 587]),
 array([295, 224, 273,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0, 107,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  94, 103,  92,  96,  96,
         79,  63,  47,  64,  82, 118,  47,  77,  42,  84,  79,  61,  57,
         67, 377, 276]),
 array([292, 178, 194,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  53,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  78,  72, 114,  55,  51,
         28,  55,  52,  60,  47,  70,  62, 108,  82,  39,  68,  71,  85,
         45, 612, 429]),
 array([227, 229, 169,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  94,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  83,  58,  96,  99,  63,
         87,  33,  58,  64, 109,  35,  32,  23,  27,  48,  75,  62,  73,
         84, 315, 757]),
 array([ 168,  138,  172,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          46,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,   91,  100,   73,   50,   48,   28,   37,   51,   56,   63,
          84,   59,   56,   56,   23,   30,   19,   20,   60,  110, 1362]),
 array([220, 160, 176,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  73,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  48,  50,  79,  52,  49,
         61,  60,  28,  64,  52,  25,  57,  53,  75,  64,  51,  50,  53,
         33, 976, 391]),
 array([272, 227, 271,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  73,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  76,  61,  81,  95,  90,
         99,  88,  33,  46,  36,  53,  58,  51,  66,  83,  38,  68,  73,
         64, 577, 321]),
 array([190, 229, 234,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  65,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  82,  73,  86,  79,  65,
        122,  87,  30,  92, 105,  42,  62,  78, 140, 104,  87,  30,  17,
         17, 277, 607]),
 array([217, 219, 227,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  65,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  63,  65, 100,  96,  79,
         58,  63,  44,  69,  77,  58,  78,  46,  61,  71,  47,  61,  42,
         53, 166, 875]),
 array([229, 213, 203,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  64,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  64,  51,  77,  81,  58,
         52,  70,  45,  98, 107,  80,  89,  45,  45,  30,  59,  26,  28,
         64, 421, 701]),
 array([222, 250, 217,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  84,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  77,  59,  82, 117,  71,
         67,  61,  45,  61,  57,  85,  97,  62,  58,  45,  38, 113,  24,
         47, 437, 524]),
 array([300, 250, 304,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  75,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  69,  57, 110, 111,  58,
         76,  67,  40,  88,  48,  51,  63,  77,  71,  50,  55,  67,  54,
         74,   0, 785]),
 array([186, 163, 196,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  74,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  67,  62,  90, 100,  79,
         60,  43,  42,  52,  71,  78,  38,  56,  65,  67,  65,  39,  55,
         77, 312, 863]),
 array([271, 248, 240,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  94,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  86,  97, 105, 106,  98,
         95,  91,  36,  83,  73,  80,  56,  28,  29,  33,  77,  93,  79,
         97,  80, 625]),
 array([ 230,  204,  180,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          73,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,  112,   77,   68,   69,   71,   62,   71,   46,   34,   51,
          42,   69,   70,   36,   31,   40,   34,   53,   77,    0, 1197]),
 array([ 201,  144,  162,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          49,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,   63,   64,   76,   77,   39,   43,   26,   33,   51,   83,
          50,   49,   60,   73,   49,   33,   32,   48,   43,  281, 1171]),
 array([176, 152, 203,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  43,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  72,  51,  91,  60,  72,
         56,  50,  95,  89,  42,  68,  51,  54,  90,  91,  35,  35,  17,
         62, 347, 898]),
 array([224, 151, 178,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  54,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  89,  69, 103,  95,  55,
         72,  52,  54,  87,  65,  62,  69,  59,  45,  44,  52,  52,  41,
         41, 307, 880]),
 array([ 189,  206,  182,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          71,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,   74,   90,   95,   89,   49,   42,   30,   54,   47,   48,
          55,   44,   31,   74,   56,   37,   60,   44,   83,   56, 1194]),
 array([287, 230, 200,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  56,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  80,  91,  77,  75,  53,
         86,  63,  67,  68,  52,  61,  93,  46,  80,  38,  69,  30,  58,
         68, 334, 638]),
 array([423, 320, 372,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0, 100,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  63,  90, 105, 132,  99,
         64,  68,  92,  81,  97,  59,  39,  51,  93,  71,  36,  51,  52,
         72,   0, 370]),
 array([208, 230, 172,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  52,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  51,  49,  76, 145,  70,
         51,  60,  38,  69,  61,  40,  52,  50,  57,  72,  54,  41,  65,
         89, 463, 685]),
 array([289, 254, 302,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  75,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0, 105,  93, 134, 130,  71,
         75,  78,  77,  61,  68,  78,  63,  57,  83,  59,  74,  80,  69,
         88,   0, 537]),
 array([234, 250, 250,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  71,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  91, 106,  97,  99, 102,
         94, 100,  44,  70,  87,  87,  52,  33,  69,  61,  46,  68,  50,
         57,   0, 774]),
 array([228, 219, 200,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  60,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0, 123,  92, 116,  85,  95,
         95,  82,  68,  60,  36,  44,  58,  53,  72,  48,  61,  54,  38,
         78,   0, 935]),
 array([243, 274, 222,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  71,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0, 102,  66, 101,  71,  77,
        117,  99,  37,  94,  69,  75,  82,  60,  45,  35,  63,  42,  38,
         43, 453, 421]),
 array([215, 200, 221,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  61,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  79,  68,  71,  77,  74,
         69,  65,  56,  95,  66,  52,  48,  55,  43,  64,  37,  61,  48,
         51, 354, 770]),
 array([171, 180, 150,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  29,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  51,  44,  59,  56,  62,
         79,  46,  49, 101,  46,  32,  62,  50,  33,  43,  73,  39,  74,
        135, 407, 929]),
 array([258, 186, 180,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  28,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0, 112, 104, 108, 110,  84,
         84,  84,  76,  68,  58,  49,  25,  50,  76,  35,  67,  57,  78,
         71,   0, 466]),
 array([293, 213, 230,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  50,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  71,  91, 128, 116, 104,
         88,  95,  41,  46,  60,  46,  65,  63,  98,  80,  92,  73,  83,
         47, 392, 335]),
 array([ 190,  186,  150,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          60,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,   69,   66,   91,   56,   60,   41,   58,   58,   53,   45,
          39,   75,   55,   69,   41,   33,   42,   50,   60,  309, 1044]),
 array([227, 181, 182,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  29,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  71,  97,  82,  64,  61,
         62,  84,  82,  53,  37,  25,  29,  29,  28,  51,  75,  53,  54,
         43, 944, 328]),
 array([169, 145, 129,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  42,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  85,  89, 101,  91,  82,
         86,  74,  27,  40,  48,  31,  40,  25,  46,  22,  51,  35,  21,
         73,   0, 606]),
 array([241, 172, 167,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  55,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  61,  98,  99,  90,  42,
         80,  71,  35,  44,  40,  81,  92,  82,  66,  50,  46,  46,  60,
         55, 330, 797]),
 array([296, 260, 246,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,  68,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,  85,  73, 102,  92,  95,
         45,  53,  36,  65,  75,  96,  82,  43,  51,  58,  66,  27,  36,
         89, 359, 502]),
 array([281, 245, 239,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,

In [222]:
preds = []
trues = []
train_scores = []
test_scores = []
importances = []
for item in items:
    ts = CA1_F1_price[CA1_F1_price['id'] == item].drop(columns=['id'])
    train = ts[:'2016-03-28']
    test = ts['2016-03-28':]
    X_train = train.drop('sales', axis=1)
    X_test = test.drop('sales', axis=1)
    y_train = train['sales']
    y_test = test['sales']
    lgbm2 = LGBMRegressor(objective='tweedie').fit(X_train, y_train)
    preds.append(lgbm2.predict(X_test))
    trues.append(y_test)
    train_scores.append(lgbm2.score(X_train, y_train))
    test_scores.append(lgbm2.score(X_test, y_test))
    importances.append(lgbm2.feature_importances_)

In [223]:
np.mean(train_scores)

0.6183382619086748

In [224]:
np.mean(test_scores)

-0.23935959329311823

In [225]:
RMSEs = []
for i in range(216):
    RMSEs.append(mean_squared_error(trues[i], preds[i], squared=False))

In [226]:
np.mean(RMSEs)

1.481867889453839

In [240]:
preds = []
trues = []
train_scores = []
test_scores = []
importances = []
for item in items:
    ts = CA1_F1_price[CA1_F1_price['id'] == item].drop(columns=['id'])
    train = ts[:'2016-03-28']
    test = ts['2016-03-28':]
    X_train = train.drop('sales', axis=1)
    X_test = test.drop('sales', axis=1)
    y_train = train['sales']
    y_test = test['sales']
    lgbm3 = LGBMRegressor(objective='tweedie', max_depth=5).fit(X_train, y_train)
    preds.append(lgbm3.predict(X_test))
    trues.append(y_test)
    train_scores.append(lgbm3.score(X_train, y_train))
    test_scores.append(lgbm3.score(X_test, y_test))
    importances.append(lgbm3.feature_importances_)

In [241]:
np.mean(train_scores)

0.4231629876044877

In [242]:
np.mean(test_scores)

-0.2049734069759267

In [243]:
RMSEs = []
for i in range(216):
    RMSEs.append(mean_squared_error(trues[i], preds[i], squared=False))

In [244]:
np.mean(RMSEs)

1.4627363396686461

In [268]:
preds = []
trues = []
train_scores = []
test_scores = []
importances = []
for item in items:
    ts = CA1_F1_price[CA1_F1_price['id'] == item].drop(columns=['id'])
    train = ts[:'2016-03-28']
    test = ts['2016-03-28':]
    X_train = train.drop('sales', axis=1)
    X_test = test.drop('sales', axis=1)
    y_train = train['sales']
    y_test = test['sales']
    lgbm4 = LGBMRegressor(objective='tweedie', max_depth=5, reg_alpha=5, reg_lambda=5).fit(X_train, y_train)
    preds.append(lgbm4.predict(X_test))
    trues.append(y_test)
    train_scores.append(lgbm4.score(X_train, y_train))
    test_scores.append(lgbm4.score(X_test, y_test))
    importances.append(lgbm4.feature_importances_)

In [269]:
np.mean(train_scores)

0.3374336477148698

In [270]:
np.mean(test_scores)

-0.12552314049765806

In [272]:
RMSEs = []
for i in range(216):
    RMSEs.append(mean_squared_error(trues[i], preds[i], squared=False))

In [273]:
np.mean(RMSEs)

1.4216511358671393

In [302]:
preds = []
trues = []
train_scores = []
test_scores = []
importances = []
for item in items:
    ts = CA1_F1_price[CA1_F1_price['id'] == item].drop(columns=['id'])
    train = ts[:'2016-03-28']
    test = ts['2016-03-28':]
    X_train = train.drop('sales', axis=1)
    X_test = test.drop('sales', axis=1)
    y_train = train['sales']
    y_test = test['sales']
    lgbm5 = LGBMRegressor(objective='tweedie', max_depth=8, reg_alpha=5, reg_lambda=5).fit(X_train, y_train)
    preds.append(lgbm5.predict(X_test))
    trues.append(y_test)
    train_scores.append(lgbm5.score(X_train, y_train))
    test_scores.append(lgbm5.score(X_test, y_test))
    importances.append(lgbm5.feature_importances_)

In [303]:
np.mean(train_scores)

0.3878222547786668

In [304]:
np.mean(test_scores)

-0.1262605434239212

In [305]:
RMSEs = []
for i in range(216):
    RMSEs.append(mean_squared_error(trues[i], preds[i], squared=False))

In [306]:
np.mean(RMSEs)

1.4234435435576729

In [307]:
preds = []
trues = []
train_scores = []
test_scores = []
importances = []
for item in items:
    ts = CA1_F1_price[CA1_F1_price['id'] == item].drop(columns=['id'])
    train = ts[:'2016-03-28']
    test = ts['2016-03-28':]
    X_train = train.drop('sales', axis=1)
    X_test = test.drop('sales', axis=1)
    y_train = train['sales']
    y_test = test['sales']
    lgbm6 = LGBMRegressor(objective='tweedie', max_depth=8, num_leaves=63, reg_alpha=10, reg_lambda=10).fit(X_train, y_train)
    preds.append(lgbm6.predict(X_test))
    trues.append(y_test)
    train_scores.append(lgbm6.score(X_train, y_train))
    test_scores.append(lgbm6.score(X_test, y_test))
    importances.append(lgbm6.feature_importances_)

In [308]:
np.mean(train_scores)

0.30332831727692455

In [309]:
np.mean(test_scores)

-0.11649224969706638

In [310]:
RMSEs = []
for i in range(216):
    RMSEs.append(mean_squared_error(trues[i], preds[i], squared=False))

In [311]:
np.mean(RMSEs)

1.409228119188317

In [320]:
preds = []
trues = []
train_scores = []
test_scores = []
importances = []
for item in items:
    ts = CA1_F1_price[CA1_F1_price['id'] == item].drop(columns=['id'])
    train = ts[:'2016-03-28']
    test = ts['2016-03-28':]
    X_train = train.drop('sales', axis=1)
    X_test = test.drop('sales', axis=1)
    y_train = train['sales']
    y_test = test['sales']
    lgbm6 = LGBMRegressor(objective='tweedie', n_estimators=500, max_depth=8, num_leaves=63, reg_alpha=10, reg_lambda=10).fit(X_train, y_train)
    preds.append(lgbm6.predict(X_test))
    trues.append(y_test)
    train_scores.append(lgbm6.score(X_train, y_train))
    test_scores.append(lgbm6.score(X_test, y_test))
    importances.append(lgbm6.feature_importances_)

In [321]:
np.mean(train_scores)

0.3073240245852358

In [322]:
np.mean(test_scores)

-0.11645447882040985

In [323]:
RMSEs = []
for i in range(216):
    RMSEs.append(mean_squared_error(trues[i], preds[i], squared=False))

In [324]:
np.mean(RMSEs)

1.4104239391420565

## Thoughts

- need to take into account different types of items, if you're selling Christmas items after Christmas for a reduced price, does it actually reflect the demand of the product
- need to take into account marketing, end-caps, and how close to eye-level the products, how do these effect demand
- need to take into account inventory, sometimes something has high demand but lack of inventory fails to reflect the full demand, like Oatly milk.